[2014-02-26 23:29] arthurnn opened #1 "Use rails edge."
We need to use rails edge, or 4.1.0.rc1.

[2014-02-27 01:29] #1 closed, assigned to nobody

[2014-02-28 16:56] byroot opened #11 "We should enqueue a GithubSyncJob after creating a stack"

[2014-02-28 16:56] byroot opened #12 "We should lock most of our Resque jobs"

[2014-02-28 16:56] byroot opened #13 "Github users are not fetched yet"

[2014-02-28 17:02] #11 closed, assigned to gmalette

[2014-02-28 17:06] gmalette opened #14 "Destroying a stack can cleanup the git mirror"

[2014-02-28 18:20] byroot opened #15 "Integrate ansispan to have shell colors"
https://github.com/mmalecki/ansispan

[2014-02-28 18:39] #12 closed, assigned to gmalette

[2014-02-28 23:01] wisq opened #17 "Every command should have a working directory"
The `Command` interface should require a directory to run in.  `git clone`s can run in `/`; everything else should run in the appropriate repo.

`Open3.popen2e` shares the `Process.spawn` options, which include `:chdir` to do this.

[2014-02-28 23:04] wisq opened #18 "bundle install --without list should come from the stack itself"
We can't deploy Shopify because we install a lot of gems we shouldn't need to.  It should only install the `:deploy` group, nothing else.

If we're feeling really fancy, we could trawl the Gemfile with regexes.  But it's probably best to just use a config file.

[2014-02-28 23:09] wisq opened #19 "Avoid secondary clone with git clean and git reset"
With judicious use of `git clean` and `git reset`, we can avoid the need to do a clone each deploy.
1. `git fetch` from the cached repo
2. `git clean -f -x -d` = nuke everything that isn't git tracked (including `.gitignore`d files)
3. `git reset --hard SHA` = take me directly to that SHA, with fewer checks and special cases than `git checkout`

(SHA can be e.g. `origin/master`)

Talk to me if you

[2014-03-01 16:22] gmalette opened #20 "Add a button in settings to force stack sync"

[2014-03-01 18:45] byroot opened #22 "GitHub authentication"
I just though that the most flexible and simple way to authenticate with GitHub, would be to allow members of a particular team.

Let's say we create a "Deploy" team, that do not even need to grant any kind of GitHub access, so we can fetch it's members with GitHub API http://developer.github.com/v3/orgs/teams/#list-team-members

@wisq: Would that works out for you?

/cc @gmalette @davidcornu @fw4

[2014-03-01 18:49] byroot opened #23 "Support new deployment API from GitHub"
See: http://developer.github.com/v3/repos/deployments/

/cc @gmalette

[2014-03-02 19:49] #13 closed, assigned to byroot

[2014-03-03 00:23] byroot opened #27 "Move SSH_ENV in settings.yml or secrets.yml"
See: https://github.com/Shopify/shipit-engine/blob/debe6fc6b19f9d674acd81ebf76f4c90b5ebda0e/lib/stack_commands.rb#L5

Should be very straightforward, but there is a lot multiple PR editing things file right now..

[2014-03-05 17:08] gmalette opened #32 "Emphasize repo in the sidebar"
![screen shot 2014-03-05 at 12 05 26 pm](https://f.cloud.github.com/assets/351915/2335863/b3c630e8-a488-11e3-8663-d9fb4fdede35.png)

The important part of the information is the repo name, but it's barely visible in the current sidebar.

@vernalkick

[2014-03-05 17:49] byroot opened #33 "Commits should display a link to the CI run."

[2014-03-07 18:36] gmalette opened #35 "Verify signature on webhooks"

[2014-03-07 19:36] gmalette opened #36 "Favicon"
Shipit has no favicon. This is unacceptable.

Actual:
![screen shot 2014-03-07 at 2 35 07 pm](https://f.cloud.github.com/assets/351915/2361301/bd674148-a62f-11e3-94e7-1be1779cc0d0.png)

Expected:
![screen shot 2014-03-07 at 2 35 27 pm](https://f.cloud.github.com/assets/351915/2361300/ba64b44e-a62f-11e3-803e-65f0ea8f43ed.png)

@vernalkick

[2014-03-07 19:54] #15 closed, assigned to nobody

[2014-03-10 20:23] #36 closed, assigned to nobody

[2014-03-11 18:41] #32 closed, assigned to nobody

[2014-03-11 19:20] vernalkick opened #41 "Sidebar isn't fixed anymore"
Looks like the jQuery plugin hcSticky doesn't get loaded anymore.

[2014-03-12 22:07] gmalette opened #43 "ChunkPoller always runs once"
The condition on `ChunkPoller` is only triggered after the first request. Also, it occurs on all pages.

![screen shot 2014-03-12 at 6 06 11 pm](https://f.cloud.github.com/assets/351915/2403756/9b437fe4-aa32-11e3-8a0a-6efe70fb2afa.png)

@byroot

[2014-03-13 18:44] #17 closed, assigned to nobody

[2014-03-13 20:11] #41 closed, assigned to nobody

[2014-03-13 21:25] #33 closed, assigned to nobody

[2014-03-13 21:26] #43 closed, assigned to nobody

[2014-03-13 21:26] #20 closed, assigned to nobody

[2014-03-13 21:26] #27 closed, assigned to nobody

[2014-03-13 21:27] #18 closed, assigned to nobody

[2014-03-18 18:29] gmalette opened #46 "Failed deploys hide undeployed commits"
![screen shot 2014-03-18 at 2 29 18 pm](https://f.cloud.github.com/assets/351915/2451879/425d87d8-aecb-11e3-8661-61e2322b144a.png)

It becomes pretty hard to deploy after that

[2014-03-21 14:25] #46 closed, assigned to nobody

[2014-03-22 19:37] byroot opened #51 "Handle stacks without CI"
We need to be able to deploy branches that do not have a CI setup

[2014-03-22 19:41] byroot opened #52 "Shipit can't connect to gems.shopify.com"
See: https://shipit2.shopify.com/shopify/shopify/staging/deploys/92

[code]

[2014-03-24 13:48] #52 closed, assigned to nobody

[2014-03-24 14:56] byroot opened #53 "We can't deploy heroku projects"
Blocked by https://github.com/Shopify/ops/issues/643

[2014-03-24 14:57] byroot opened #54 "Some jobs need to lock"
We have to figure out why resque-lock do not work as expected

[2014-03-24 14:57] byroot opened #55 "CI link only appear on success..."

[2014-03-24 15:03] gmalette opened #56 "Checklist on deploys"

[2014-03-24 19:50] #54 closed, assigned to nobody

[2014-03-24 20:56] #55 closed, assigned to nobody

[2014-03-25 00:25] byroot opened #58 "We need to pass the current user to the cap command somehow"
[code]

SHould not be unknown.

[2014-03-25 15:00] #53 closed, assigned to nobody

[2014-03-25 17:36] byroot opened #61 "We still don't have the deploy author..."
And the created_at is probably not displayed correctly

![capture decran 2014-03-25 a 13 36 05](https://f.cloud.github.com/assets/44640/2515470/01cafac4-b444-11e3-8865-caf36d1c332f.png)

[2014-03-25 18:38] #61 closed, assigned to nobody

[2014-03-25 18:38] #58 closed, assigned to gmalette

[2014-03-25 18:57] #56 closed, assigned to nobody

[2014-03-25 19:38] byroot opened #62 "Allow users to abort deploy"
It probably mean recording the current command PID somewhere, and sending it a SIGINT from the web process or another job.

@dalehamel @gmalette though?

[2014-03-25 19:45] gmalette opened #63 "Add link to deployed stack"
example: http://shopify.com. Just so we know where the apps live.

[2014-03-25 19:54] gmalette opened #64 "Commit create date are the commit `created_at` date"

[2014-03-25 19:57] gmalette opened #65 "Gravatars in Stack#show are 460x460 but we show 20x20"
Reduce them

[2014-03-25 20:50] #64 closed, assigned to nobody

[2014-03-26 20:01] #65 closed, assigned to nobody

[2014-03-28 17:46] EiNSTeiN- opened #72 "Fetch currently deployed version"
If we deploy without shipit2 (like with `git push heroku master`) the deployed commit list will be out of sync.

[2014-03-28 19:34] christhomson opened #73 "Git checkout fails with no error message"
See https://shipit2.shopify.com/shopify/shopify-widget/production/deploys/149.

`shipit.yml` is [here](https://github.com/Shopify/shopify-widget/blob/master/shipit.yml).

[2014-03-28 19:40] #73 closed, assigned to nobody

[2014-04-01 15:43] cjoudrey opened #76 "Escape pull request description"
![screen shot 2014-04-01 at 11 43 10 am](https://cloud.githubusercontent.com/assets/385270/2581057/64f60718-b9b4-11e3-9099-53e4f1617ef5.png)

[2014-04-01 18:18] jules2689 opened #77 "script/bootstrap and settings/secrets.yml need to be updated"
They are currently dated and broken :(

Need to change the yaml after the script runs to make it work

[2014-04-02 15:04] gmalette opened #79 "Remove overrides in deploy"
Deploy overrides don't make sense because they end up overriding only for capistrano.

[2014-04-02 15:10] gmalette opened #80 "Webhooks"
Add webhooks to `shipit.yml`

[code]

[2014-04-02 15:11] gmalette opened #81 "Normalize state machine names"
Chose and change the names for:
- started
- cancelled
- success
- failed
- rollbacked

[2014-04-03 16:08] byroot opened #82 "Show that a pending commit was previously failed"
When a CI run fail on master, if you retry the build, then you can't see that master is currently considered "red"

/cc @gmalette

[2014-04-07 15:38] #76 closed, assigned to nobody

[2014-04-07 15:44] #77 closed, assigned to nobody

[2014-04-07 20:10] #14 closed, assigned to nobody

[2014-04-07 20:11] #19 closed, assigned to nobody

[2014-04-09 18:45] EiNSTeiN- opened #83 "Limit deploys to Tagged releases for rubygems"
Like for Heroku, it would be simple enough to publish gems to rubygem using shipit2.

All we need is:
* Create a user for shipit2
* Install its API key on shipit2: `curl -u SHIPITUSER https://rubygems.org/api/v1/api_key.yaml > ~/.gem/credentials; chmod 0600 ~/.gem/credentials`
* Add a rake task like this: https://github.com/Shopify/liquid/blob/c098235baa302fc9c09f675434206e290ce47119/Rakefile#L39

[2014-04-10 19:06] ghost opened #84 "save deploy output to the DB"
as subject, save output of every deploy attempt to the database..

[2014-04-10 19:09] #84 closed, assigned to nobody

[2014-04-10 19:25] byroot opened #85 "Merge output chuncks in the deploys.output column once deploy is finished"
It was the original plan, it just haven't been done during hack days. It's about time now.

cc @SingerWang

[2014-04-11 14:38] davidcornu opened #86 "Fix eggs"
![screen shot 2014-04-11 at 10 38 06 am](https://cloud.githubusercontent.com/assets/325821/2680838/f6fddfa8-c186-11e3-831d-a7c0b77e604b.png)

cc @vernalkick

[2014-04-11 16:07] byroot opened #87 "Ongoing deployment are not obvious enough"
What I see:
![capture decran 2014-04-11 a 12 05 59](https://cloud.githubusercontent.com/assets/44640/2681920/34994652-c193-11e3-891b-0c2c861f444e.png)

So I think Ok I should deploy.
Then I scroll a bit:

![capture decran 2014-04-11 a 12 06 07](https://cloud.githubusercontent.com/assets/44640/2681928/44f4a154-c193-11e3-8986-36729bd7022d.png)

If a deploy is ongoing, it should be visible without sc

[2014-04-14 23:38] #86 closed, assigned to davidcornu

[2014-04-15 02:48] #85 closed, assigned to nobody

[2014-04-16 16:19] pushmatrix opened #94 "Link broken to view commit on github"
When doing a new deploy, the "View on github" link when you hover over a commit goes nowhere.

Culprit:
https://github.com/Shopify/shipit2/blob/d2eb4f68329eba690dec86d635aebc1b55118531/app/views/deploys/new.html.erb#L31

[2014-04-16 17:01] #94 closed, assigned to nobody

[2014-04-18 00:59] wisq opened #95 "ANSI bleeds between lines"
Would be good if the ANSI colour-code parsing would assume that every line ends with a reset.  The asset compilation process uses colours, but then they bleed into the rest of the deploy.

[2014-04-18 01:31] #95 closed, assigned to nobody

[2014-04-30 16:26] byroot opened #100 "Use a jquery.timeago like approach for timestamp."
Because of the cache the "x hours ago" statements are often out of sync.

[2014-05-01 18:24] EiNSTeiN- opened #101 "Github auth"
Github auth is needed so we know which commits belong to which user.

[2014-05-01 18:27] EiNSTeiN- opened #102 "List pending deploys for each user"
On the main page, there should be a list of all pending deploys (across all repos) for the logged-in user so we never forget to deploy anything.

[2014-05-06 17:46] gmalette opened #109 "Deploy lock / StackExclusive locks"
Deploy jobs are stack exclusive.
Their lock doesn't seem to be working, as shown by https://shipit2.shopify.com/shopify/shopify/production/deploys/681 which was popped even though https://shipit2.shopify.com/shopify/shopify/production/deploys/680 was ongoing for over 2 minutes.

A larger problem is that resque-workers-lock will requeue the job if the lock is currently locked. That would retrigger

[2014-05-07 00:49] EiNSTeiN- opened #111 "Put /resque endpoint behind authentication"
@byroot @gmalette this is currently wide open to anyone: https://shipit2.shopify.com/resque

[2014-05-09 20:56] #22 closed, assigned to nobody

[2014-05-09 20:57] #35 closed, assigned to nobody

[2014-05-09 20:58] #63 closed, assigned to nobody

[2014-05-09 20:59] #101 closed, assigned to gmalette

[2014-05-10 15:03] #111 closed, assigned to nobody

[2014-05-12 14:32] shopify-dep opened #119 "[deploys#create] Mysql2::Error: Column 'user_email' cannot be null"
[See this exception on Errbit](https://exceptions.shopify.com:443/apps/53333766b74f334f6c000379/errs/5370cb56b74f334cf7007ba4)
# Mysql2::Error: Column 'user_email' cannot be null
## Summary
### URL

[https://shipit2.shopify.com/shopify/shopify/production/deploys](https://shipit2.shopify.com/shopify/shopify/production/deploys)"
### Where

deploys#create
### Occured

May 12  1:23pm
### Similar

2
##

[2014-05-12 17:16] #119 closed, assigned to nobody

[2014-05-13 16:06] EiNSTeiN- opened #125 "wrong status shown when commits are never run on circle"
If I make several local commits and push all of them to github only once, circle will only run with the most recent commit in the push, but shipit wrongly shows "failure" on those commits. it should show "not run" or some other more relevant status.
![screen shot 2014-05-13 at 12 04 57 pm](https://cloud.githubusercontent.com/assets/2053039/2960054/97bfe9aa-dab8-11e3-8348-07a98fa2e7de.png)

[2014-05-13 16:12] EiNSTeiN- opened #126 "Colorized output does not have correct line breaks"
Line breaks are lost when the output is colorized for some reason:
![screen shot 2014-05-13 at 12 09 48 pm](https://cloud.githubusercontent.com/assets/2053039/2960109/4ba3b7d0-dab9-11e3-9704-ce8071fa5e96.png)

[2014-05-13 20:33] arthurnn opened #127 "Make it open source"
Could we make this open source?

[2014-05-20 13:09] vernalkick opened #137 "Autoselect first search result"
I was thinking it could be cool to autoselect the first search result when you're typing so you can just enter a few letters, hit return and get taken to the stack you want. We could also use the up/down arrows to move between results.

![](http://cl.ly/image/2T3x1V202w2l/1)

Thoughts? @byroot @gmalette

[2014-05-20 15:07] #100 closed, assigned to gmalette

[2014-05-20 19:37] #137 closed, assigned to nobody

[2014-05-26 15:42] sirupsen opened #149 "Handle deploys from CLI"
It'd be nice if it handled when ops deploys from the command line interface. Currently when you deploy from the command-line, it doesn't show up as deployed in shipit. It makes sense it can't show the stream, but it should be able to show deploy in process, who triggered it, when it's done, etc. and move the shas down to deployed.

@gmalette @byroot

[2014-05-26 15:43] #149 closed, assigned to nobody

[2014-06-02 19:14] fw42 opened #155 "Warn when deploying too much at once"
We could display a warning when someone is trying to deploy more than N merges at once. I think that would be helpful. (N=3 for example?)

[2014-06-05 14:33] pseudomuto opened #158 "Handle Validation Gracefully"
Blank fields in new stack view makes Rails shit the bed

![screen shot 2014-06-05 at 10 32 34 am](https://cloud.githubusercontent.com/assets/4748863/3188838/5ff89d10-ecbe-11e3-99d0-60b2073c85bb.png)

[2014-06-05 17:37] #158 closed, assigned to pseudomuto

[2014-06-05 17:51] byroot opened #160 "Adding a continuous deployment setting."
It would be nice to be able to enable an option in stack settings to automatically trigger a deploy on green CI.

This was just asked on Flowdock.

/cc @pseudomuto

[2014-06-05 17:56] #126 closed, assigned to nobody

[2014-06-05 20:20] #125 closed, assigned to nobody

[2014-06-06 17:55] #160 closed, assigned to nobody

[2014-06-06 18:51] EiNSTeiN- opened #165 "Commits are not ordered correctly just after adding a stack"
When you add a new stack to shipit, the commits collected from github are sent via the pubsub mechanism, I often experienced them arriving in the incorrect order, so that it gives the impression that the most recent build failed even though that's not the case (the most recent build is just not at the top of the commits list).

[2014-06-18 14:09] EiNSTeiN- opened #173 "Message box needs a proper design"
Assigned to @vernalkick

![f7fb56dc-f666-11e3-8fd4-ffbe1e070269](https://cloud.githubusercontent.com/assets/2053039/3314550/1719863e-f6f2-11e3-843f-ef5d9380307d.png)

[2014-06-20 19:13] EiNSTeiN- opened #174 "New commits should say "Locked" when deploys are locked"
Adding this issue so we don't forget about it... when new commits arrive via pubsub events on the stack page, and deploys are locked, the commit button should say "Locked" instead of "Deploy".

[2014-06-24 17:41] tahnok opened #177 "Sidebar header and main header don't line up"
On firefox at least Shipit looks like this

![shipit](https://cloud.githubusercontent.com/assets/362769/3375149/b5f6cce8-fbc6-11e3-89dc-36a7babf83b9.png)

[2014-07-15 14:32] yagnik opened #178 "Custom aws keys for specific repo"
I was about to write a script for pushing images from customerio_assets repo to s3 but felt that it would be best if I can use shipit to do it for me. The only catch is managing aws keys for the repo.
Do you think it would be a good idea to add the ability to add multiple keys for a specific repo in shipit2 which gets loaded in as ENV variable for deploy?
Also how do we support a gem which is used

[2014-07-18 19:00] #178 closed, assigned to nobody

[2014-07-18 19:15] sirupsen opened #181 "Allow deployment of branch"
It'd be really nice if you could deploy branches, Capistrano already deploys this with SHA and STRICT_DEPLOYS. Awesome strategy for deploying risky branches would be something like:
1. Deploy `risky_branch` from my branch after rebasing with latest deployed SHA.
2. See that it works.
3. Deploy latest deployed sha again.
4. Merge to master, where it will be part of a future deploy.

[2014-07-18 19:26] sirupsen opened #182 "One-off commands"
It'd be useful to be able to define commands you can run as one-offs from Shipit against the productions source.

[2014-08-04 19:53] byroot opened #193 "whenever capistrano integration do not work"
[code]

[2014-08-04 21:51] #193 closed, assigned to byroot

[2014-08-04 21:53] byroot opened #194 "StackCommands#with_temporary_working_directory do not work"
From resque:

[code]

Could it be because `/tmp/` and `/u/apps/` are on different partitions and that `git clone --local` tries to make hardlinks?

[2014-08-05 16:16] drdee opened #195 "500 error when hitting shipit.shopify.com"
This is a strange error that, so far, other people have not been able to replicate but when I visit https://shipit.shopify.com I get the following error:

We're sorry, but something went wrong.

If you are the application owner check the logs for more information.

[2014-08-05 16:46] #195 closed, assigned to nobody

[2014-08-05 19:41] alexcoco opened #196 "Duplicate SHA in CI changes state on wrong commit"
@gmalette @celsodantas
1. Branch off `master`
2. Push empty branch to GH
3. Circle runs on the last commit in the branch. This commit already ran on CI (on branch `master`)
4. Shipit gets a webhook notification for a status change (to `pending`)
5. Shipit changes status of commit on branch `master` with same SHA to `pending`

The result is that some undeployed commits on `master` appear to still b

[2014-08-06 14:05] byroot opened #197 "fetch-heroku-version is not working"
[code]

cc @EiNSTeiN-

[2014-08-06 15:26] #72 closed, assigned to nobody

[2014-08-07 01:52] #174 closed, assigned to nobody

[2014-08-07 01:57] #155 closed, assigned to nobody

[2014-08-07 14:26] #165 closed, assigned to nobody

[2014-08-07 20:15] #197 closed, assigned to nobody

[2014-08-07 20:20] byroot opened #202 "fetch-gem-version is not working properly"
It manage to map the last version on rubygems with a SHA on GitHub, but the problem is that `rake release` creates an annotated tag `git tag -a`, so that tag poing to a commit that is not on master, so shipit doesn't know that commit.

Not sure what we can do, I have no idea how I can map that annotated tag to an actual revision in master.

[2014-08-08 02:03] #102 closed, assigned to nobody

[2014-08-20 18:48] trishume opened #206 "Sometimes chunk rollup job ends up pushing content to browser a second time."
After a deploy completes successfully sometimes the content is pushed to the browser a second time. Hard to notice when there are just a bunch of extra lines in a page already a bajillion lines long, but I caught it with my indicator widgets glitching out.

![screen shot 2014-08-20 at 2 37 59 pm](https://cloud.githubusercontent.com/assets/887610/3986384/958c1480-289a-11e4-947f-3eb6ece69391.png)

[2014-08-25 21:15] #206 closed, assigned to davidcornu

[2014-08-28 22:02] byroot opened #224 "ChunkRolloutJob is having troubles"
[code]

[2014-09-05 19:25] boourns opened #227 "Show SHAs in index view"
Ideally we'd see commit SHAs in the index view for shipit, since it's what we use everywhere else to identify a revision that is deployed.

[2014-09-17 17:40] EiNSTeiN- opened #229 "Unicity check on stack creation is not clear"
https://exceptions.shopify.com/apps/53333766b74f334f6c000379/errs/5419b332b74f33063100322e

![create shipit2 stack](https://cloud.githubusercontent.com/assets/2053039/4308308/ae3472d6-3e91-11e4-94bf-da773cf91958.gif)

[2014-09-18 08:37] #229 closed, assigned to nobody

[2014-09-24 19:50] gmalette opened #231 "Not specifying a email_domain won't be able to login"
see https://github.com/Shopify/shipit2/blob/e96b120770a245653c7d499edc1512fe41814944/app/controllers/authentication_controller.rb#L36

[2014-09-30 14:12] sirupsen opened #232 "Rollback off by one"
We had an incident where rolling back picked the SHA+1 instead of the SHA, causing the rollback to deploy since we didn't have a container for that SHA.

@byroot

[2014-09-30 15:35] byroot opened #233 "Stop relying on resque-lock"
We know since a while it's not working properly. Let's directly acquire locks in Redis.

It will also help migrate to ActiveJobs

[code]

[2014-09-30 17:15] #232 closed, assigned to nobody

[2014-10-08 20:46] #62 closed, assigned to nobody

[2014-10-17 20:08] stevenmichaelthomas opened #250 "Build statuses not updating, followed by new commits not appearing"
### Problem

Builds are sticking at "pending". Once they are stuck, new commits don't appear and everything appears to get stuck. This has occurred on both [REDACTED] production and staging environments on three occasions.

Sample SHA and CI build that got stuck:
[REDACTED]
### Steps to reproduce

It has been intermittent, but the basic flow is:
- Add commit to branch
- Build gets stuck at pending

[2014-10-22 18:29] ibawt opened #253 "abort button didn't abort"
When I was (trying) to deploy the ash changes, I noticed an error in the deploy but the abort button wouldn't do anything.  I had to get Dale to kill it manually.  This kind of sucks.

It was the job restarting that I was trying to abort.

@camilo @jduff

[2014-10-22 20:38] gmalette opened #254 "ShopExclusiveLock and double-deploys"
Currently in Shipit it's easy to get deploy-deadlocked.

Capistrano acquires locks to all servers, so if two deploys go out at the same time, one task will have locks on half the servers, the other task on the other half.

/cc @Sirupsen

[2014-10-23 19:14] ghost opened #256 "Ability do a deploy:restart for Shopify"
There are occasions when we need to do a deploy:restart on Shopify. For example: 1) when there is a memory leak; or 2) when there is a database failover and we need to restart workers to reconnect.

Obviously case 1 is not that urgent, but case 2 is much more urgent. With the advent of Shipit, ops is doing less and less deploys. Thus most of us are not keeping our shopify repo up to date (git up a

[2014-10-23 20:20] sroysen opened #257 "Missing datadog markers for Shopify deploys"
A couple of times today we noticed that datadog was not showing the pink markers is usually does for a deploy.

The deploy output was showing the following during the last deploy where the datadog marker was missing:

[code]

ping @byroot.

[2014-10-23 20:26] #257 closed, assigned to nobody

[2014-10-27 15:31] peterjm opened #261 "Can't ship to heroku"
@EiNSTeiN-

Seems like the credentials have been changed for heroku again?
My last couple deploys on the redacted app are immediately failing.

https://shipit.shopify.com/shopify/redacted/production/deploys/7779

[2014-10-27 17:50] #261 closed, assigned to nobody

[2014-10-28 17:54] #256 closed, assigned to nobody

[2014-10-28 17:54] #182 closed, assigned to nobody

[2014-10-28 20:14] #254 closed, assigned to nobody

[2014-10-28 20:27] #227 closed, assigned to nobody

[2014-10-28 20:29] #196 closed, assigned to nobody

[2014-10-28 20:30] #194 closed, assigned to nobody

[2014-10-28 20:32] #224 closed, assigned to nobody

[2014-10-30 18:41] #253 closed, assigned to nobody

[2014-11-11 18:50] eapache opened #269 ""Time ago" updates not working"
When you load a stack the times all show as something like "22 minutes ago at 2014-11-11 18:27:12 UTC". However when the page auto-updates due to a new commit or deploy or something, this text gets replaced with "2014-11-11 at 2014-11-11 18:27:12 UTC".

Seems like a really easy thing to fix if I knew any javascript, but I don't.

[2014-11-12 02:35] #269 closed, assigned to nobody

[2014-11-13 18:39] jstorimer opened #270 "Allow setting the 'next deployable commit'"
It happens often enough that picking which commit to deploy is critical.

This can happen if we deploy bad code, do a rollback, then need to make sure the next deploy includes the revert lest we introduce the problem again. We'd want to pick the revert as the 'next deployable commit' and not let anyone deploy a rev below that.

This also happens frequently with including / excluding servers from d

[2014-11-13 23:57] byroot opened #272 "Report tasks exceptions in the output"
https://shipit.shopify.com/shopify/starscream/production was executing `script/shipit/setup` but that file missed the exec permission.

It caused an `Errno::EACCES "Permission denied - script/shipit/setup"` in `PerformTaskJob`, but was only reported in Resque UI.

We should at least print that error in the deploy output.

cc @airhorns

[2014-11-14 16:54] #272 closed, assigned to nobody

[2014-11-18 22:30] eapache opened #274 "Locked deploy failures should not be roll-backable"
![screenshot 2014-11-18 17 27 53](https://cloud.githubusercontent.com/assets/1706826/5097420/56d0c6a6-6f48-11e4-81f7-78067b7c16cd.png)

Here I beat Flo to the deploy by about 4 seconds; his failed to acquire the deploy lock and aborted immediately, so it doesn't make sense to be able to roll back that deploy.

Dunno if there's an easy way to tell, but if there is this would be nice.

Obviously ver

[2014-11-18 22:34] #274 closed, assigned to nobody

[2014-11-25 01:47] byroot opened #277 "Heroku rate limit git commands."
[code]

[2014-11-25 14:31] mcgain opened #278 "browser notifications garbled"
![screen shot 2014-11-25 at 9 29 03 am](https://cloud.githubusercontent.com/assets/193744/5184475/c0e8bee4-7485-11e4-8f04-ce282ca984f8.png)

Low priority, we know what the message is supposed to say.

[2014-11-25 18:32] #278 closed, assigned to nobody

[2014-11-26 16:43] airhorns opened #279 "Deploy locks don't prevent continuous deployment triggered deploys"
I think they should. We wanted a deploy lock to prevent successful CI runs from triggering a deploy during a maintenance window but it didn't!

@byroot I can look into this if it will take you more than 5 minutes :)

[2014-11-26 16:59] #279 closed, assigned to nobody

[2014-12-02 18:22] eapache opened #282 "Choosing account loses target page on login"
Possibly related to #231

Steps:
- be logged in to multiple google accounts (e.g. shopify and personal)
- be _not_ authenticated with shipit
- try to visit a specific shipit link

Problem: you will be asked to choose which account to authenticate as, and then you will be asked _again_ for no apparent reason. When you select an account the second time you are redirected to shipit.shopify.com becaus

[2014-12-16 16:24] gmalette opened #283 "Add DEPLOY_URL envar to deploys"
Those can be used by our [cap recipes](https://github.com/Shopify/capistrano-recipes/blob/50b6b379be1f118b7afa8352ea69a6bd659c4c5f/lib/capistrano_recipes/deploy_announce/tasks.rb#L10) to give a direct link to the deploy in slack.

[2014-12-17 14:51] #283 closed, assigned to nobody

[2015-01-08 22:30] drdee opened #292 "NoMethodError: undefined method `review_checklist' for nil:NilClass"
When trying to deploy [Trekkie](https://shipit.shopify.com/shopify/trekkie/production/deploys/new?sha=ba91a4ef267890ecda6e673fc4e3922768231b61), I get the following error:

NoMethodError: undefined method `review_checklist' for nil:NilClass

Which means that `cached_deploy_spec` is nil (see https://github.com/Shopify/shipit2/blob/ba876d90c8d399dbf6a1a88231d14a24f5c9e8ee/app/models/stack.rb#L182)

[2015-01-08 23:21] #292 closed, assigned to nobody

[2015-01-12 16:41] byroot opened #293 "Stack lock should have an author"
When a stack is locked, the user that locked it should be displayed so he can be pinged to know if it is safe to unlock.

In case of a rollback, the person that triggered the rollback should also be the lock author.

[2015-01-12 18:01] #79 closed, assigned to nobody

[2015-01-20 16:45] gmalette opened #297 "Treat Heroku as first-class citizen"
Making Heroku first-class has many advantages. We could support a default set of tasks, checklist, fetch script, visualizations, etc. We could have interfaces to set the config values.

The current `shipit.yml` for Heroku projects looks like:

[code]

I suggest

[code]

[2015-01-21 20:20] burke opened #299 ""Rollback To""
Would it make more sense to shift the rollback buttons down a column? It really feels like the buttons to the right of a previous deploy should rollback to that deploy. You could just have the top button greyed out with "currently running" or whatever.

Thoughts? It's super confusing to me currently.

[2015-01-21 23:10] #299 closed, assigned to nobody

[2015-01-21 23:11] #293 closed, assigned to nobody

[2015-01-23 16:44] ivanfer opened #303 "Shipit showing wrong build"
This build showed up on master as the build for my commit on master-
https://circleci.com/gh/Shopify/shopify/151431

but it should have shown this one:
https://circleci.com/gh/Shopify/shopify/151429

shipit updated to show the right branch after the right build passed.

cc @BlakeMesdag

[2015-01-23 16:59] #303 closed, assigned to nobody

[2015-01-29 19:01] sunblaze opened #304 "Name update in shipit"
Looks like shipit pulled by name jsmith from git or github. I've since udpated it and it would be nice to have it updated to James Reid-Smith.

Thanks!

[2015-01-29 21:37] #304 closed, assigned to nobody

[2015-01-30 20:24] #282 closed, assigned to nobody

[2015-01-30 20:42] eapache opened #307 "Shipit requires double-authentication"
Per #282 and https://github.com/Shopify/shipit2/issues/282#issuecomment-72266217 when logging in you have to select your account twice if you have multiple active.

[2015-02-02 14:58] gmalette opened #308 "Borg job servers are picked up as app servers by visualization"
![screen shot 2015-02-02 at 9 53 39 am](https://cloud.githubusercontent.com/assets/351915/6002523/0de63bd2-aac2-11e4-9ac9-cdf436422ca9.png)

This is very confusing

[2015-03-20 19:40] davidcornu opened #316 "Allow lock reason to be updated without unlocking"
When a deploy lock is triggered by a rollback, it would be nice to be able to update the lock reason without having to unlock deploys first (so we can add a more specific message).

[2015-03-29 13:54] byroot opened #318 "Handle deleted repositories on GitHub side"
## Exception in Shipit

**Octokit::NotFound** in **resque#default**
GET https://authme.shopify.com/github/repos/shopify/brochure-app4/commits?sha=app4: 404 - Not Found // See: https://developer.github.com/v3

[View on Bugsnag](https://bugsnag.com/shopify/shipit/errors/551313196b1bc35a632e5f6c?event_id=551313981b0b10941cdfd8f3)

## Stacktrace

    app/models/stack.rb:151 - github_commits
    app/jo

[2015-03-29 17:17] byroot opened #319 "Commit::AmbiguousRevision in deploys#new"
## Exception in Shipit

**Commit::AmbiguousRevision** in **deploys#new**
Short SHA1 sha is ambiguous (too short)

[View on Bugsnag](https://bugsnag.com/shopify/shipit/errors/551207c06b1bc35a632c4827?event_id=551207d86c763f3a26267b36)
## Stacktrace

[code]

[View full stacktrace](https://bugsnag.com/shopify/shipit/errors/551207c06b1bc35a632c4827?event_id=551207d86c763f3a26267b36)

[2015-03-29 19:09] byroot opened #320 "ActiveRecord::StatementInvalid in resque#hooks"
## Exception in Shipit

**ActiveRecord::StatementInvalid** in **resque#hooks**
Mysql2::Error: Data too long for column &#x27;payload&#x27; at row 1: INSERT INTO .........&quot;updated_at&quot;: &quot;2015-03-29T17:35:43.542Z&quot;\n  }\n}&#x27;, 1, &#x27;2015-03-29 19:03:45&#x27;, &#x27;2015-03-29 19:03:45&#x27;)

[View on Bugsnag](https://bugsnag.com/shopify/shipit/errors/55184c9d6b1bc35a6334c818

[2015-03-30 15:31] #319 closed, assigned to nobody

[2015-03-30 15:40] #320 closed, assigned to nobody

[2015-04-13 18:43] #316 closed, assigned to nobody

[2015-04-15 20:02] byroot opened #327 "Allow to restrict access based on GitHub team memberships"
Asked by @dwradcliffe and make perfect sense for https://github.com/Shopify/shipit2/issues/127

[2015-04-17 19:54] byroot opened #331 "Go back on Errbit / Airbrake"
cc @BlakeMesdag

[2015-04-20 19:07] #331 closed, assigned to byroot

[2015-04-20 19:45] #327 closed, assigned to byroot

[2015-04-23 18:31] #308 closed, assigned to nobody

[2015-04-23 18:38] #80 closed, assigned to cjoudrey

[2015-04-23 18:39] #81 closed, assigned to nobody

[2015-04-23 18:41] #233 closed, assigned to nobody

[2015-04-24 17:19] #177 closed, assigned to nobody

[2015-04-28 19:47] byroot opened #341 "React-Rails copy on boot is causing issues."
I had to add this hack: https://github.com/Shopify/shipit2/blob/def86e6addcb086ba44339ff5cd52d673493479a/config/deploy.rb#L3-L12

to workaround the issue, but now there is 2 problems:
- The assets are owned by `shipit`, which while not critical is bad practice.
- The rollbacks are borken because capistrano try to restore the previous manifest but can't because it's own by `shipit`.

This upstream

[2015-04-29 18:31] #341 closed, assigned to nobody

[2015-05-04 16:08] jahfer opened #344 "deploy-status not updated on deploy in Firefox"
These are screenshots from the same (in-progress) deploy:

**Chrome**

![screen shot 2015-05-04 at 10 32 51 am](https://cloud.githubusercontent.com/assets/370323/7456881/0fc95020-f256-11e4-9e5c-5aa8a051ac16.png)

**Firefox**
![screen shot 2015-05-04 at 10 32 45 am](https://cloud.githubusercontent.com/assets/370323/7456883/15df2f0c-f256-11e4-8994-700f61b244cc.png)

This prevents the "Abort Deploy"

[2015-05-04 16:45] #344 closed, assigned to nobody

[2015-05-06 21:55] byroot opened #346 "Command overrides should always be treated as string"
[code]

Will obviously be parsed as `true` not `"true"`, which breaks shipit.

cc @graemej

[2015-05-07 19:32] #307 closed, assigned to nobody

[2015-05-07 20:50] #231 closed, assigned to nobody

[2015-05-07 20:51] #109 closed, assigned to nobody

[2015-05-07 20:57] byroot opened #347 "CCMenu support"
Some people are using CCMenu to know the state of master, so they don't merge in master if the CI is red.

Since stacks on Shipit can aggregate multiple CIs, and that it is also recommended not to merge when the stack is locked, a CCMenu.xml endpoint would be nice.

Travis-CI support as example http://docs.travis-ci.com/user/cc-menu/

cc @cjoudrey @JakeCataford

[2015-05-07 21:00] #82 closed, assigned to nobody

[2015-05-08 01:26] byroot opened #348 "Remove the dependency on EventMachine"
Because of pubsubstub, thin is pretty much the only usable webserver.

We should either make that dependency explicit, or find a suitable way to run Shipit with another webserver. Ideally without losing the UI refresh feature.

I propose we start by adding thin in the gemspec, so that at least it's functional in development.

[2015-05-09 15:32] byroot opened #349 "Provide generators or maybe an application template"
To help people setup shipit, an application template would be nice. http://guides.rubyonrails.org/rails_application_templates.html

@arthurnn are you familiar with those?

[2015-05-09 15:34] byroot opened #350 "Document the shipit.yml format"

[2015-05-09 15:35] byroot opened #351 "Document the expected fields in secret.yml"
Also maybe the secret.yml is not the best way to go.

[2015-05-13 14:20] gmalette opened #353 "MySQL Deadlocks"
Errbit: https://exceptions.shopify.com/apps/55350f04b74f336d28000038/errs/553c2404b74f3323a1003572

This specific exception occurred during a `detach!` operation. This happens in a [`transaction`](https://github.com/Shopify/shipit2/blob/9bb275e58bb610fdab7c52c163ecae0ad0880550/app/jobs/github_sync_job.rb#L15-L21), but AFAICT that's irrelevant.

My understanding of the problem is that this will att

[2015-05-13 18:35] #250 closed, assigned to nobody

[2015-05-15 17:51] byroot opened #356 "New stack with only 1 commits shows no undeployed commits."
As we just figured out, `stacks#show` will filter commits with `id` greater than the last dpeloyed commit.

and `Stack#last_dpeloyed_commit` will default to the first commit of the stack is there is no deploy records.

Both combined mean that a stack with only one commit and no deploy records won't show any commit.

cc @EmilS

[2015-05-17 15:20] byroot opened #359 "Fix intermittent test failures"
We must have a leaky test or something, I noticed a couple unexplained and intermittent test failures:

[code]

and

[code]

[2015-05-20 03:32] byroot opened #360 "Fetch public repos via HTTPS"
Public repos an be fetched by anyone, but still requires the SSH key of a github account.

For people deploying only public repos, using HTTPS would simplify things.

It mean adding a public column, and fetching that info.

cc @dwradcliffe

[2015-05-20 21:18] #353 closed, assigned to nobody

[2015-05-20 21:29] byroot opened #363 "Finish the API."
Out of the top of my head we're missing:
- [ ] Rollback
- [ ] Abort task
- [ ] List custom tasks
- [x] Trigger custom tasks (https://github.com/Shopify/shipit-engine/pull/447).

[2015-05-20 21:30] byroot opened #364 "Add an UI to setup hooks"
Shipit can send web hooks on different occasions, but there is no UI to set them up manually.

[2015-05-20 21:43] byroot opened #365 "Cleanup the /lib requires"
See: https://github.com/Shopify/shipit2/blob/360b305d760cc83acb559a8d394dff4be64c0ac8/lib/shipster.rb#L33

Also most of things in `/lib` should be namespaced under a module.

[2015-05-21 02:35] dwradcliffe opened #366 "generate deploy keys per stack"
It would be nice if shipit generated a deploy key for each stack and added it to GitHub automatically. (Similar to Circle CI)

Not sure how the ssh part of this would work but it would make setup much easier.

[2015-05-21 12:00] dwradcliffe opened #367 "task notifications have the wrong text"
When you run a custom task (such as restart), the chrome notification has the wrong text:

![monosnap 2015-05-21 07-58-21](https://cloud.githubusercontent.com/assets/118850/7748099/79bfb05a-ff8f-11e4-89eb-c2c10644f75f.png)

[2015-05-21 15:19] #51 closed, assigned to nobody

[2015-05-21 15:20] JakeCataford opened #369 "Feedback for stacks that are ignoring CI"
This is two parts:

- [x] we should let people know that they are currently ignoring CI on `stacks#show`

- [x] if CI statuses start being posted to commits in a stack that is ignoring CI, we should prompt them to stop ignoring CI on `stacks#show`.

[2015-05-22 02:04] dwradcliffe commented on #360
If we do #366 we might not need this.

[2015-05-22 02:52] dwradcliffe opened #382 ""back to top" button"
Some deploys have VERY long output. I would like a "back to top" button somewhere so I don't have to scroll for 5 minutes to get back to the top navigation.

Or maybe there's a better way to address this with the UI changes? @funionnn

[2015-05-22 02:58] funionnn commented on #382
Good call, we can add a 'back to top'

[2015-05-22 12:07] gmalette commented on #360
I think this is a good idea. It would allow deploying projects that the Shipit owner does not own, too. However, we would not be able to setup webhooks in that case, so we'd probably need something that automatically polls for status updates and such

[2015-05-22 13:16] #369 closed

[2015-05-22 13:46] gmalette commented on #359
So this seems to be due to the fact that `Rollbacks` are loaded the `Deploys` count, but only AFTER Rollbacks have been loaded in the first place (obv).

[code]

[2015-05-22 13:47] gmalette commented on #359
Obvious fix for tests is to eagerload models, but this means that dev could have discrepancies

[2015-05-22 13:59] byroot commented on #359
Nice catch. `require_dependency` should fix it no?

[2015-05-22 14:02] gmalette commented on #359
In `Stack`? yes

[2015-05-22 14:21] #359 closed

[2015-05-22 14:49] gmalette opened #386 "Safari downloads an empty attachment when hitting etags"
#dunnolol
@vernalkick

[2015-05-22 15:11] byroot commented on #386
Here's the only reference of that issue I could find: http://apple.stackexchange.com/questions/152587/unknown-file-download-after-reload-in-safari-8-0-on-os-x-yosemite

Unfortunately no solution is provided. I also confirm that it doesn't happen only in dev...

I guess we could not use the cache when the user agent is safari, but that is very ugly, and who use Safari anyway?

[2015-05-22 15:45] byroot opened #388 "Other RDBMS compatibility"
Right now we only tested with MySQL and I know that sqlite at least a a couple issues.

It's lowish priority but we should take a look at it soonish.

[2015-05-22 15:48] gmalette commented on #318
It kinda sucks that this was in bugsnag

[2015-05-22 15:50] byroot commented on #318
No big deal. It's easy to repro. I think the way to go would be:

  - Have a column to mark stacks as not existing GitHub side
  - Flip that boolean when we hit 404s etc.
  - Display a message when it's true
  - Hitting refresh flip it back to false.

WDYT?

[2015-05-22 16:46] arthurnn commented on #388
anyone tested with postgress?

[2015-05-22 16:56] gmalette commented on #318
I was thinking the same, but I'm wondering if the sync job is the only place it can occur

[2015-05-22 16:59] funionnn opened #390 "Settings page buttons have no hover"
Save buttons on the Settings page have a regular pointy-cursor on hover, and no hover state

@vernalkick

[2015-05-22 17:07] byroot commented on #318
No there is several other places, like webhook setup

[2015-05-22 17:11] gmalette commented on #318
Can you undelete stacks?

[2015-05-22 18:15] byroot opened #393 "More granular GitHub access restriction."
#333 added the possibility to restrict access to the whole shipit instance to a single GitHub team.

Ideally we should improve the granularity, and do access restriction by stack.

As I see it, it should be in the shipit.yml:

[code]

[2015-05-22 18:15] byroot commented on #393
cc @arthurnn

[2015-05-22 18:24] vernalkick commented on #386
Me.

[2015-05-22 18:31] byroot commented on #386
:trollface:

[2015-05-22 18:54] davidcornu commented on #51
![](http://media.giphy.com/media/YZfqHzpjw1I40/giphy.gif)

[2015-05-22 19:46] byroot opened #398 "Support pre and post steps"
`override` make very little sense without `pre` and `post`. And also if you use both bundler and npm for example, you can't add npm without overriding the default bundler integration.

[2015-05-22 19:53] gmalette opened #399 "Delete... misguiding in stack"
![screen shot 2015-05-22 at 3 52 36 pm](https://cloud.githubusercontent.com/assets/351915/7778553/9ab3670a-009a-11e5-8b41-5b00ff782d7a.png)

It makes you think there will be a confirmation step, but no, it simply deletes the stack lol

[2015-05-26 15:32] arthurnn commented on #127
Code is open now.

[2015-05-26 15:32] #127 closed

[2015-05-26 18:01] byroot commented on #399
We should probably have a confirmation page for this. To explain what will actually be deleted.

[2015-05-27 02:37] byroot commented on #348
@gmalette should I close this?

[2015-05-27 02:47] gmalette commented on #348
Did you want me to remove EM altogether? This could still cause problems due to native extensions.

[2015-05-27 02:49] byroot commented on #348
Nah I was simply wondering if your update of pubsubstub fixed this or not. You tell me :)

[2015-05-27 02:50] gmalette commented on #348
Well, it did remove the dependency on Thin. I'll change the message

[2015-05-27 04:10] byroot opened #403 "Test suite doesn't pass with sqlite3"
See https://travis-ci.org/rafaelfranca/shipit-engine/jobs/64195221 for example.

I think it's because of the way string comparison works (case sensitivity) but not 100% sure.

cc @rafaelfranca

[2015-05-27 04:14] rafaelfranca commented on #403
It is because of milliseconds on the `created_at` comparison of this line https://github.com/Shopify/shipit-engine/blob/ffcd5abad91a97e1950bd0922dd89126f0c5d011/app/models/status.rb#L21.

I have a feeling that it is a Rails bug, so I'm writing a reproduction script to isolate the problem.

(BTW, `test_after_commit` gem is broken when using Rails' 4-2-stable branch, it is related to `sync_with_tran

[2015-05-27 04:21] byroot commented on #403
Great catch! We could probably strip milliseconds as a temporary workaround.

[2015-05-27 04:22] rafaelfranca commented on #403
Ok. Found the problem. I'll open a PR shortly

[2015-05-27 04:34] #403 closed

[2015-05-27 04:35] byroot commented on #349
FIxed in #380 and followups

[2015-05-27 04:35] #349 closed

[2015-05-27 04:35] byroot commented on #365
Done

[2015-05-27 04:35] #365 closed

[2015-05-27 04:37] byroot commented on #388
Fixed in #404 and  #401

[2015-05-27 04:37] #388 closed

[2015-05-27 04:37] byroot commented on #351
This is now in the readme and also prompted on missing config.

[2015-05-27 04:37] #351 closed

[2015-05-27 14:35] rafaelfranca commented on #350
@byroot I think this one can be closed now

[2015-05-27 14:40] byroot commented on #350
Indeed.

[2015-05-27 14:40] #350 closed

[2015-05-30 15:05] byroot opened #409 "Custom task should be able to display a checklist too"
Originally asked by @wvanbergen

[2015-05-30 18:23] byroot commented on #382
Once https://github.com/Shopify/shipit-engine/issues/382 is merged, we'll have a sticky header on deploy, so we can easily add that back to top button.

[2015-06-01 13:54] byroot opened #411 "Current design can't acomodate more than 2 or 3 custom tasks"
Custom tasks buttons can easily go off screen and create an horizontal scroll.

According to @gmalette, @funionnn and @vernalkick original plan was to go for a dropdown if the task has more than a handful tasks.
- [ ] Improve seeds so that it's easily reproducible
- [ ] Fix the design.

Maybe @jeromegn can help? ;)

[2015-06-01 14:01] funionnn commented on #411
Can someone include a screenshot?

[2015-06-01 14:04] byroot commented on #411
Screenshot of the issue
![capture d ecran 2015-06-01 a 09 48 32](https://cloud.githubusercontent.com/assets/44640/7914503/778cb832-0845-11e5-8007-8cbe1036f62d.png)

Mockup by @vernalkick
![](https://s3.amazonaws.com/f.cl.ly/items/0k3j233h333O402Y1O2l/Image%202015-06-01%20at%2010.01.42%20AM.png)

[2015-06-01 16:54] byroot opened #414 "Deploys history"
Right now there is no way to search for previous deploys past the last 10.

We should allow to paginate in the deploy history of each stacks.

cc @pushrax

[2015-06-01 17:31] alexcoco opened #415 "Error when polling for events on stack page"
@byroot @gmalette

I keep getting errors in the console and new commits never show up without a refresh.

Getting this on Chrome 43.0.2357.81 (64-bit)

![screen_shot_2015-06-01_at_1_16_08_pm](https://cloud.githubusercontent.com/assets/898172/7918869/8f833872-0862-11e5-876c-0bdeafecaf8b.png)

[2015-06-01 17:33] gmalette commented on #415
yeah I'll look at it tonight

[2015-06-01 18:24] gmalette commented on #415
I'm not sure if this has anything to do with the latest version of https://github.com/gmalette/pubsubstub . However I found that the scrollback doesn't work without EM, so I'll fix that too

[2015-06-01 21:00] byroot commented on #415
I think the console errors are a red herring. The javascript was broken following the redesign, I think 71407fbe8bfe84a5b271f86143776799f3c0f8d2 will fix it.

Closing, please re-open if the bug is still here in a couple hours.

[2015-06-01 21:00] #415 closed

[2015-06-01 21:03] gmalette commented on #415
Will you re-upgrade Pubsubstub ?

[2015-06-01 21:03] gmalette commented on #415
Nevermind ;)

[2015-06-01 21:36] byroot commented on #399
Actually @etiennebarrie just figured out that this button have a `data-confirm`. So we can either have a nice confirmation page, bringing rails-ujs back could be an okish fix too.

[2015-06-03 04:37] gmalette commented on #173
This has been addressed in the new design, reopen if it's unsatisfactory

[2015-06-03 04:37] #173 closed

[2015-06-03 06:33] byroot commented on #409
Fixed by https://github.com/Shopify/shipit-engine/pull/418

[2015-06-03 06:33] #409 closed

[2015-06-06 10:25] byroot commented on #414
Fixed by #417

[2015-06-06 10:25] #414 closed

[2015-06-09 03:24] dwradcliffe opened #425 "use "committed" instead of "merged" when it's not a merge"
For commit items that aren't merge commits, it would be nice if the UI displayed "committed" instead of "merged".

![shipit - rubygems org 2015-06-08 23-23-33](https://cloud.githubusercontent.com/assets/118850/8050086/709bbe92-0e35-11e5-99a7-72c4e8f873a0.png)

[2015-06-09 08:30] byroot commented on #425
Good point. We kinda miss the info though, expect if we consider that everything that isn't a PR merge commit is a regular commit.

[2015-06-09 17:43] wvanbergen opened #426 "Add dynamic "confirm" step before deploy"
A "confirm" step would be really useful to make sure it's safe to deploy. The content to display would be collecting by running a task on the source code. The main use case for me is to show a list of pending changes, so you know nothing crazy will happen when you deploy.

#### Process

1. Checkout SHA
2. Run a task as defined in shipit.yml
3. Capture output of said task, and display to user.
4. U

[2015-06-09 18:02] byroot commented on #426
Interesting. I'll sleep on it

[2015-06-09 18:41] gmalette commented on #426
Could it happen after you've created the deploy but before the deployment steps are started? Why is it less than ideal?

[2015-06-09 19:41] byroot commented on #426
Yeah the biggest issue with this is that it requires to checkout the repository which currently only happen later.

[2015-06-10 12:37] byroot commented on #426
So after putting it some thoughts I think it's an awesome idea but it has major architectural challenges:

  - This must be backgrounded because we have a tacit rule of not shelling out nor reaching any 3rd party service from web actions.
  - Which mean you would need to trigger the check when you display the page, put some kind of spinner and update the page asynchronously.
  - You likely need a

[2015-06-15 13:49] dalehamel commented on #426
Some back-story here - we'd like to use shipit to deploy infrastructure using [terraform](https://terraform.io/). It would be ideal if the infrastructure that a project needs were embedded directly into the repo, so that you could have a separate 'infrastructure' deploy and a separate 'code' deploy.

Before deploying the infrastructure, we want to run 'terraform plan' which will show what is expec

[2015-06-15 13:57] byroot commented on #426
Not that I can think of. Except maybe doing `terraform plan`, and sleeping for a little while so that you can abort the deploy if you don't agree with the changes...

But it's kinda hacky.

Overall I like this proposal, and I think it's doable. I'll try to prototype something.

[2015-06-15 14:25] dalehamel commented on #426
@byroot awesome, if there's anything we can do to help you let us know cc @Shopify/cloud. This is a big part of our road map, and I think the dream of 'shipit for infrastructure' is something that resonates well with a lot of teams.

[2015-06-17 13:03] mathieugagne opened #430 "Add support for Github Entreprise"
Hey guys

The company I work at has a private Github Entreprise. How can I point Shipit to a different Github instance?

Thanks

[2015-06-17 13:05] byroot commented on #430
Of course. You just have to set `github_api.api_endpoint` in the `secrets.yml`.

I'll let this open because it means we should update the documentation.

[2015-06-17 14:24] mathieugagne opened #433 "Missing dotenv-rails dependency"
Couldn't load what the template added in .env for my secrets.yml file unless I added dotenv-rails gem.

Should be added as a dependency

[2015-06-17 14:25] byroot commented on #433
damn. cc @arthurnn

[2015-06-17 14:25] gmalette commented on #433
this is for the docker template?

[2015-06-17 14:57] mathieugagne commented on #430
I'm still being redirected to github.com for authentication.

Seems omniauth-github is not set to take extra parameters needed for Github Entreprise.

From https://github.com/intridea/omniauth-github#github-enterprise-usage
[code]

Current implementation in [lib/shipit/engine:25](https://github.com/Shopify/shipit-engine/blob/f14cfc401273df52f2e57e96c0e0fc9a67dd8868/lib/shipit/engine.rb#L25)
[code]

[2015-06-17 15:03] mathieugagne commented on #430
Tested on a fork and worked with hardcoded `:site`, `:authorize_url` and `:token_url`

[2015-06-17 15:04] byroot commented on #430
Yeah we need to add support for this in the `secrets.yml`. Also the links to gtihub will be broken.

I'm fixing this right away.

[2015-06-17 15:08] mathieugagne commented on #430
Tracking a few 'github.com' mentions:
https://github.com/Shopify/shipit-engine/blob/master/app/views/stacks/new.html.erb#L11

[stacks/_header](https://github.com/Shopify/shipit-engine/blob/master/app/views/stacks/_header.html.erb#L28) link points to a github.com repository

[2015-06-17 15:12] byroot commented on #430
@mathieugagne there is also the git url:

[code]

How does that work with enterprise? It's `git@your-install.com:` ?

[2015-06-17 15:15] mathieugagne opened #435 "How to configure CI?"
I got a stack and I'm getting the following error message:
"This stack is not configured for CI, but it currently requires a passing build to be able to deploy a commit.
You can either configure CI yourself, or ignore CI and deploy any commits you want."

Looking in the docs and the stack's settings, I can't find a way to configure our CI.

Any pointers?

Thanks

[2015-06-17 15:16] mathieugagne commented on #430
@byroot Yes exactly. The `github.YOURDOMAIN.com` would replace `github.com`

[2015-06-17 15:16] byroot commented on #435
Any CI would do. It listen to GitHub status API. Alternatively you can disable the CI requirement.

[2015-06-17 15:18] mathieugagne commented on #435
I definitely want CI integration but wasn't aware of Github status API. Would be worth mentioning in the docs.
I'll take a look at how I can get our CI to communicate its status at the end of each build.

[2015-06-17 15:27] byroot commented on #435
Hum, good point. that error message should point to the Status API documentation.

[2015-06-17 15:51] byroot commented on #435
I think https://github.com/Shopify/shipit-engine/commit/94cca84aced0d534652b4e837ea38b5fb20ad9fb should solves this issue.

Thanks!

[2015-06-17 15:51] #435 closed

[2015-06-17 15:56] mathieugagne commented on #435
:+1:

[2015-06-17 16:05] #430 closed

[2015-06-17 18:52] arthurnn commented on #433
I added the `.env` file for foreman gem.

[2015-06-18 10:19] pjaspers commented on #181
Is there more info on allowing inputs?

[2015-06-18 10:26] byroot commented on #181
@pjaspers we do have on our internal roadmap the plan to support deploying pull request / branches like GitHub does: http://githubengineering.com/deploying-branches-to-github-com/

But right now we only support the "merge in master branch" model.

[2015-06-18 10:27] pjaspers commented on #181
That's exactly what I was planning to use it for :)

[2015-06-18 10:28] byroot commented on #181
We'll ping you back when we have it then :)

[2015-06-18 10:32] pjaspers commented on #181
For now the "merge in master" will do, but quickly deploying a branch has become a part of our workflow, so it will be nice when it's there.

[2015-06-18 17:05] pushrax commented on #425
How about "pushed"?

[2015-06-18 17:10] gmalette commented on #425
"" may also work. the word seems superfluous

[2015-06-18 18:34] dwradcliffe commented on #425
Yeah I think we could just remove the word

[2015-06-19 02:20] #433 closed

[2015-06-19 12:12] lanceblais opened #439 "Setup / Installation help"
I'm trying to set up ShipIt for my team and I'm not versed in Rails.

I installed Ruby using this tutorial: https://www.digitalocean.com/community/tutorials/how-to-install-ruby-on-rails-on-ubuntu-12-04-lts-precise-pangolin-with-rvm

That was fine, then I ran `rails new shipit -m https://raw.githubusercontent.com/Shopify/shipit-engine/master/template.rb` which worked as well.

Entered the github ke

[2015-06-19 14:13] byroot commented on #439
It's true that deploying a Rails app can be tricky if you have no experience at all with that stack. There is a DO tutorial there: https://www.digitalocean.com/community/tutorials/deploying-a-rails-app-on-ubuntu-14-04-with-capistrano-nginx-and-puma but TBH it's kind of messy.

It's better yes.

Shipit use ServerSentEvents which mean long running requests, but have no problem reconnecting if they a

[2015-06-19 14:17] gmalette commented on #439
Arthur's Docker image is here https://github.com/arthurnn/shipit_docker . I think he said he had gotten it to work

[2015-06-19 16:33] lanceblais commented on #439
You're all awesome.

I'll try out the container.

Thanks!
On Jun 19, 2015 10:17 AM, "Guillaume Malette" <notifications@github.com>
wrote:

[2015-06-19 17:39] gmalette commented on #439
Please let us know how it's going, there's definitely room for improvement on the doc

[2015-06-24 13:36] #425 closed

[2015-07-02 13:27] byroot commented on #426
Implemented in #429

[2015-07-02 13:27] #426 closed

[2015-07-02 13:27] byroot commented on #367
Fixed a while ago, thanks.

[2015-07-02 13:55] byroot opened #445 "If CI is retried auto deploy can be triggered twice"
Reported by @dwradcliffe

For some reason Travis ran the test twice for https://github.com/rubygems/rubygems.org/commit/09bc5ec42204e31d67085962a9d81778fab85ac8 (and the following commits), as a result the status timeline was `pending` -> `success` -> `pending` -> `success`, see: https://api.github.com/repos/rubygems/rubygems.org/commits/09bc5ec42204e31d67085962a9d81778fab85ac8/statuses

Shipit go

[2015-07-02 14:07] gmalette commented on #445
lol yeah that happens on circle if someone pushes a branch with the same HEAD as master

[2015-07-02 14:07] gmalette commented on #445
maybe the same with travis

[2015-07-02 14:10] byroot commented on #445
Reported to Travis: https://github.com/travis-ci/travis-ci/issues/4176

[2015-07-02 14:11] byroot commented on #445
@gmalette not it's even weirder, look at the API response, all the statuses are reported for the same build, it's not someone that branched out.

[2015-07-02 14:11] gmalette commented on #445
oh shit yeah

[2015-07-02 14:13] byroot commented on #445
But you're right. The issue you mention would have the same effect. But it's an easy bug to fix in the autodeploy code though.

[2015-07-02 14:13] gmalette commented on #445
Yeah, autodeploy has to be fixed, but whether we track status change after a success is debatable

[2015-07-02 14:17] byroot commented on #445
We already had that debate, and I don't think we should discard any "CI" statuses. e.g: imagine a security audit CI, your commit is green, a vulnerability is reported, you retry, it should go red.

[2015-07-02 14:18] gmalette commented on #445
My thoughts too

[2015-07-02 14:36] byroot commented on #445
Fixed in #446

[2015-07-02 14:36] #445 closed

[2015-07-03 15:13] dwradcliffe opened #448 "new stack UI needs a little love"
The repo field on the new stack page has line breaks that are not pretty:

<img alt="shipit 2015-07-03 11-10-42" src="https://cloud.githubusercontent.com/assets/118850/8501521/4a4fefb8-2174-11e5-8448-f79e28d0a99d.png">

[2015-07-05 18:47] arthurnn commented on #439
docker should be production ready.. I did a few tests locally and in a fresh DO instance. it worked for me.

[2015-07-06 00:19] dwradcliffe commented on #367
Still not fixed with latest code

[2015-07-06 13:33] davidcornu commented on #367
Just checked https://github.com/Shopify/shipit-engine/blob/2ee8b0346125afcab3cd5f447e014cb7d6472b15/app/assets/javascripts/task/notifications.js.coffee.erb. All the copy is for deploys.

[2015-07-06 13:34] byroot commented on #367
Yeah I misunderstood the issue.

[2015-07-06 13:38] davidcornu commented on #448
<img width="652" alt="screen shot 2015-07-06 at 9 36 34 am" src="https://cloud.githubusercontent.com/assets/325821/8523300/87a6e498-23c2-11e5-9879-e5041c5b4ddc.png">

The rest of the form needs some love too. IMHO the help text looks like a misplaced label and the checkbox for skipping CI should be on the other side.

[2015-07-07 19:06] byroot opened #449 "Abort and Rollback button"
### Context:

Shipit have been built around the idea that the deploy scripts are transactional, meaning that if you abort the script, it will go back to it's previous step like capistrano 2 used to do.

Unfortunately in real life not all deploy scripts are transactional.

### Proposal

If we acknowledge this fact, then it makes sense to have an `Abort and rollback` button on the deploy log page. I

[2015-07-07 19:11] gmalette commented on #449
fuck yes, but it should be only if the stack `supports_rollback?`, otherwise just abort?

[2015-07-07 19:12] byroot commented on #449
Yes. IMO we always keep abort. And then "deploy and rollback" criteria would be: `is a deploy or is a rollback and stack.supports_rollback?`

[2015-07-07 19:14] gmalette commented on #449
you'd allow rollbacking rollbacks?

[2015-07-07 19:15] byroot commented on #449
Sure why not?

[2015-07-07 19:16] gmalette commented on #449
I find it surprising. What's the outcome of rollbacking a rollback? Are you 1 step further down the rollback chain, or are you redeploying the rollbacked deploy?

[2015-07-07 19:17] byroot commented on #449
Actually nevermind. We already don't allow to rollback rollback.

[2015-07-08 13:59] gmalette opened #450 "Github status querying"
Sometimes when Github is having slowdowns, people ask why Shipit is broken and not picking up their changes. Github Status has an API that we can use. We could display a status message to tell people something's going on

https://status.github.com/api/last-message.json

[code]

[2015-07-08 14:56] davidcornu commented on #450
Could we do this in js?

[2015-07-08 14:59] gmalette commented on #450
Yes. They probably support CORS, they definitely support jsonp

Should we do this in JS?

[2015-07-08 15:01] byroot commented on #450
Since we already have crons running. I think a 5 minutesish call from a wroker that sets this in `Rails.cache` should do.

[2015-07-08 15:01] byroot commented on #450
Also we need to disable this for Enterprise users.

[2015-07-08 15:03] davidcornu commented on #450
Would avoid additional rails logic for a presentation concern. Either way is fine though.

[2015-07-08 15:04] gmalette commented on #450
I don't think it's a presentation concern; we could also have this for the API

[2015-07-08 18:38] davidcornu opened #452 "Sticky header on the deploy page causes jumpiness"
![2015-07-08 14_37_00](https://cloud.githubusercontent.com/assets/325821/8578802/e992d3de-257e-11e5-9a69-f1e9fa5de495.gif)

When scrolling past the sticky threshold, the text underneath jumps up.

[2015-07-09 16:37] #449 closed

[2015-07-10 01:53] jasonhl opened #454 "Auto deploy + auto version increment for ruby gems"
We've got a project structured as a ruby gem. On a merge to master, a hook fires to Packer. It then builds a package which is installed using ark and `gem install` via a Chef cookbook. This works reasonably well -- except when you forget to bump the version in the gemspec.

I'd like to replace all this with Shipit. When a change is merged, CI runs and if it passes, the change is auto deployed and

[2015-07-10 02:38] dwradcliffe commented on #454
You could probably use https://github.com/svenfuchs/gem-release to bump the version

[2015-07-10 03:38] byroot commented on #454
I think the rubygem supports needs a bit of polish. One thing that really sucks with the current gem release script:

Since Shipit model is to do a full clone from the local git cache for each deploy, the  `origin` remote is actually the git cache, not github. So we can't easily push tags...

cc @etiennebarrie since we were talking about it this afternoon.

It would be nice to revamp the whole thi

[2015-07-14 20:04] gmalette opened #457 "Metrics and vanity stats"
@jmwind suggested that we add a few dashboard that would allow visualizing velocity, deploys, rollbacks, etc. I think it should be both global and per-project.

[2015-07-17 13:59] gmalette opened #458 "Anonymous deploys and failed rollbacks"
"Anonymous" deploys are confusing for a lot of people. We also get problems where sometimes, when multiple revisions are in production, they'll flip-flop and create a few "Anonymous" deploys.

How can we make the UX better?

[2015-07-17 16:01] cmckni3 opened #460 "Support for other Git hosting solutions"
Are there any plans to support other Git solutions, such as, GitLab, Gogs, and BitBucket?

I am mostly interested in GitLab support. I know GitLab doesn't support some of the features of GitHub e.g. Deployments but I'm willing to work on implementing it.

[2015-07-17 16:30] byroot commented on #460
No, there is even a tacit consensus we won't do it. We started Shipit with the idea that it was a GitHub app, not even a git one. All the data Shipit collect is fetched through the GitHub API / WebHooks and not by reading the git repo.

This shortcut really simplified things. And I'm afraid trying to support multi backends would complicate the codebase a lot.

If you need BitBucket / Gitlab suppor

[2015-07-17 16:30] #460 closed

[2015-07-17 16:40] cmckni3 commented on #460
Thanks for the suggestion! I will check it out.

[2015-07-17 17:06] byroot commented on #460
Apologies, @gmalette just pointed out that Samson is also tied to GitHub. Sorry :/

[2015-07-18 05:31] reedloden opened #462 "Support non-GitHub git repositories"
Seems like Shipit is very GitHub-focused, but it would be great if it could support arbitrary git repositories as well for those who don't use github.com. I know that was specifically called out in the blog announcement as a benefit to Shipit, but it also makes it less useful to a lot of other projects.

[2015-07-18 05:42] byroot commented on #462
This have been discussed in https://github.com/Shopify/shipit-engine/issues/460.

Relying on GitHub API and webhooks simplifies Shipit architecture tremendously and we're not willing to sacrifice that.

As an example if we wanted to support BitBucket, GitLab or raw git repository, we would then need to integrate with CI providers, because none of these have an equivalent to the commit status API.

[2015-07-18 05:42] #462 closed

[2015-07-21 10:14] jsegura opened #463 "Samples of shipit.yml"
In the readme there is a link to `Free Samples`. Could you provide some examples?

[2015-07-21 12:51] gmalette commented on #463
Oh snap. We'll add one. In the meantime, you can refer to [rubygems.org's `shipit.yml`](https://github.com/rubygems/rubygems.org/blob/master/shipit.yml)

What type of app are you deploying? What would help you best?

[2015-07-21 13:09] dwradcliffe commented on #463
Also an example for heroku: https://github.com/rubygems/rubygems-status/blob/master/shipit.yml

[2015-07-27 14:49] davidcornu commented on #458
Can we use `Task#user` or is that set based on the commit?

[2015-07-31 14:32] davidcornu opened #466 "Differentiate ignored builds"
<img width="666" alt="screen shot 2015-07-31 at 10 31 19 am" src="https://cloud.githubusercontent.com/assets/325821/9009469/665f2690-376f-11e5-978c-da9f7a6d9e57.png">

Not sure what's going on here

[2015-07-31 14:33] gmalette commented on #466
Can you elaborate?

[2015-07-31 14:34] davidcornu commented on #466
If all the builds aren't complete, the build status should not be a green checkbox

[2015-07-31 14:34] gmalette commented on #466
[`ci/circleci`](https://github.com/Shopify/shopify/blob/f6a4aea84f7f5873656ee4410470b3864171ee39/shipit.yml#L3) is ignored from the build results, so we're left with a single green status

[2015-07-31 14:35] davidcornu commented on #466
Ah. So we should probably show that visually to avoid confusion. Maybe reduce the opacity of ignored builds or add `(ignored)` after the service name.

[2015-07-31 14:36] gmalette commented on #466
Good idea

[2015-08-07 00:18] mathieugagne opened #468 "capistrano hangs over ssh password"
Thanks again for the great app. I'm almost there.. just can't get Shipit to deploy.

_Problem:_
When I start a deploy through the app it hangs when trying to `ssh` to the remote host during a capistrano deployment.
It sits there quietly waiting for me to put my ssh password even though I have ssh keys setup.

I can ssh to the host I want to deploy to from the console on my shipit box.
I can run a

[2015-08-07 14:03] mathieugagne commented on #468
Solved my own problem by starting ssh-agent before deploying.

[code]

Won't work if it's not inline. Each step has a different pid. So now the question is why do we not persist the context from one step to another? And why would it not use my already-available ssh-agent?

[2015-08-07 14:14] gmalette commented on #468
@dwradcliffe would you know? I think we use(d?) the `SSH_AUTH_SOCK` envar or something

[2015-08-07 14:22] dwradcliffe commented on #468
Yeah, but I've also used it without. Are you sure that the user running the background job (we use a `shipit` user) has the key that has access?

[2015-08-07 15:01] mathieugagne commented on #468
Yeah I'm pretty sure. I don't think running the ssh-agent and adding the default key would work as a workaround otherwise.
I ran the task adding a `whoami` step and made sure that it was the same user. I believe all is fine on that side.

[2015-08-07 16:11] byroot commented on #468
I'd have a couple questions:

  - Which version of capistrano are you using?
  - If it's capistrano 2: Do you use the gateway feature?

This stackoverflow thread might contain the solution to your problem: http://stackoverflow.com/questions/3269578/capistrano-asks-for-password-when-deploying-despite-ssh-keys

[2015-08-07 16:21] mathieugagne commented on #468
- Which version of capistrano are you using?
    - We use both versions, depending on the project. The problem occurs on both versions.
- If it's capistrano 2: Do you use the gateway feature?
    - I do have `forward_agent` everywhere. It won't connect to git otherwise. We usually don't setup ssh keys on our servers and simply forward our own to the ssh connection on deployment.

That being said,

[2015-08-07 16:28] byroot commented on #468
It definitely is. But from experience, capistrano asking for password when it shouldn't is a relatively common issue. So if we can figure it out, it would be great to have the resolution posted here :)

[2015-08-07 17:14] mathieugagne commented on #468
What's curious about it is that it works for `git` but not for `bundle`. Is there a difference between both actions from an implementation point of view in Shipit?

[2015-08-07 17:18] byroot commented on #468
`bundle`? you mean `cap`?

No Shipit simply shell out using the same primitive for boths.

Could you try to put the capistrano SSH in verbose mode to see what is happening? I believe its' `ssh_options[:verbose] = :debug`

[2015-08-07 17:20] mathieugagne commented on #468
`bundle exec cap` same same :wink:

[2015-08-07 17:22] byroot commented on #468
Yes but in the end it's cap that calls SSH. For a second it though your issue was during `bundle install` for checking out git gems.

[2015-08-07 17:24] mathieugagne commented on #468
Agreed. I revised in my update.

I'll run it with verbose and see what happens.

[2015-08-20 17:28] mlhamel opened #473 "Shipit doesn't handle very long commit message very well"
It broke the css when pushing basically a revert of revert of revert...

Example use case:

![pasted_image_at_2015_08_20_01_17_pm](https://cloud.githubusercontent.com/assets/44640/9390623/30a32188-4740-11e5-96c2-0e8c130ceb4f.png)

[2015-08-20 17:33] byroot commented on #318
Fixed a while ago in https://github.com/Shopify/shipit-engine/pull/443

[2015-08-20 17:33] #318 closed

[2015-08-20 17:35] byroot commented on #473
I think we should simply truncate at 79 characters like GitHub does.

We could also parse Reverts like we parse pull request messages.

[2015-08-20 17:39] mlhamel commented on #473
First solution is probably enough, truncating would be great.

[2015-08-21 01:16] byroot commented on #473
Fixed in https://github.com/Shopify/shipit-engine/commit/8d9d1bd9df729f9573560f4292120a36d1516ada

[2015-08-21 01:16] #473 closed

[2015-08-21 01:49] byroot commented on #367
Properly fixed in 6b8a4207274b4acf5a1c354fbcfe907c7f8cf786

[2015-08-21 01:49] #367 closed

[2015-08-21 02:04] #399 closed

[2015-08-21 02:04] byroot commented on #399
Fixed in https://github.com/Shopify/shipit-engine/commit/890d8c0d756840e2673b4c04dbb76f7dbb6e4bc7

[2015-08-24 18:44] camilo commented on #458
@davidcornu said:

Can we use Task#user or is that set based on the commit?

[2015-08-25 21:23] everestx opened #475 "Troubleshooting 'create deploy' step"
Hi there, I've been going through the README and I have the ShipIt UI and sidekiq working.  Meaning, I have created a stack, the sidekiq is running and it's syncing with Github.  I don't have any tracebacks in either the sidekiq or the rails log. However, when I create a deploy I get no output from the web ui and the deploy remains in pending status.

I don't see any processes generated from the d

[2015-08-25 21:34] byroot commented on #475
Hum, right. I would say you can first try to execute the deploy from Rails console:

[code]

That might uncover some issue. If you figure it out or are stuck please let me know. (Also I assume you have at least basic Rails knowledge).

During a deploy, you have a button to send a `SIGTEM`. If by force abort you mean SIGKILL, then no, at least not yet, but I would accept a PR with that.

[2015-08-26 14:46] davidcornu commented on #347
@byroot I really want this.

Should each user have a token for each stack?

[2015-08-26 14:56] byroot commented on #347
One token per use should enough I think.

[2015-08-26 20:39] everestx commented on #475
Thanks for the response.  I do have some Rails knowledge, so this is very helpful.  That said, running the deploy from the Rails console runs the deploy successfully.  Then browsing to the deploy page via the webui shows all the console output.  There's just something that doesn't trigger the deploy to run, which I'll have to keep digging on.

I don't have a button for `SIGTERM` on the deploy page

[2015-08-26 20:54] byroot commented on #475
Hum, then it must be that sidekiq either don't receive the job, or drop it.

Are you sure both shipit and sidekiq point to the same Redis db / host?

[2015-08-26 21:28] byroot commented on #475
Sorry I just noticed now. When you say sidekiq working, you mean you started the Sidekiq process in your terminal with `bundle exec sidekiq`?

[2015-08-31 13:26] everestx commented on #475
Yes, `bundle exec sidekiq -c 1` is the command that I used.  Sidekiq will process jobs from the stack settings page when I sync the webhooks, so I assume the rails web app and sidekiq are using the same redis instance.  My other thought was whether they are using the same namespace (prodution/development, etc).  I was going to check into that today.

[2015-09-03 18:16] davidcornu opened #476 "Potentially use GH's required status checks instead of allow_failures"
We currently use the `ci.allow_failures` config in `shipit.yml` to determine whether or not a commit is deployable. With the introduction of protected branches and status checks (https://github.com/blog/2051-protected-branches-and-required-status-checks) we might be able to get rid of that setting and use whatever is configured on Github.

[2015-09-03 18:21] byroot commented on #476
So good!

[2015-09-08 18:04] byroot opened #477 "Commit status hook."
## Context

Since Shipit aggregates multiple commit statuses, and also knows about locks and ongoing deploys, it's a good candidate to be able to notify people that they have commits ready to be shipped, or blocking shipping.

## Feature description

I think 2 events would make sense:

### Ready to ship

The trigger conditions would be similar to the automated deploy one:
  - All required statuses

[2015-09-08 18:14] byroot commented on #477
Alternatively, a simpler and more general implementation could be:

## Commit final status:

The trigger condition would be:
  - All required statuses are successful
  - OR one of the required status is `error` or `failure`

If this hook payload includes the stack (meaning the lock status and the deploy status), then the feature described above can easily be implemented by the hook receiver.

[2015-09-09 14:37] byroot opened #478 "If CI isn't required, continous deployment should work."
At the moment it seems that continuous deployment is broken on stacks without CI.

cc @baldowl

[2015-09-14 14:43] runmad opened #482 "MIT License is out of date"

[2015-09-14 15:02] #482 closed

[2015-09-14 16:21] zach-chai opened #484 "Got this error pushing shipit to heroku"
![screenshot](https://cloud.githubusercontent.com/assets/6678182/9855235/04e04fc2-5adb-11e5-97cb-3da9e0639024.png)

Worked locally but pushing to heroku throws a syntax error

[2015-09-14 16:27] byroot commented on #484
You need ruby 2.1 or higher. You are running 2.0 it seems

[2015-09-14 16:27] #484 closed

[2015-09-16 13:16] byroot commented on #458
Couple mind dumps on possible fix for this (all this requires more investigation):

  - Using a distinct deploy subclass for manual deploys so that they are easier to distinguish UI wise.
  - Mark the previous deploy as "partial" if the claimed revision is exactly the last successful deploy `since_commit`

[2015-09-16 14:07] eapache commented on #458
I like the second one. Given starting rev X, and a failed deploy to rev Y, if shipit detects rev Y in production it should simply mark the deploy as partial rather than adding an anon deploy. If it subsequently detects rev X again it should do the same. So any detected sequence of X and Y in production should do nothing but mark the failed deploy as partial (bonus: perhaps also sending an alert to

[2015-09-16 15:32] byroot commented on #458
I've put it more though:

  - If the revision check report the previous revision in the X minutes after a deploy mark it as `flapping`.
  - If the revision check report the expected revision Y times in a row, mark the deploy back to `success`.
  - Add a `retry` button to deploys in flapping state.

Both X and Y should be configurable via the `shipit.yml`.

[2015-09-16 19:07] gmalette commented on #458
I like this

[2015-09-21 13:54] oliver-fisher commented on #477
Should be fixed with #479  and #486.

[2015-09-21 13:54] #477 closed

[2015-09-21 18:58] #458 closed

[2015-09-21 21:19] byroot opened #490 "Shipit Revision check improvements"
### Context

Shipit is pretty much oblivious to what is running in production.
It was built on the idea that a revision is deployed or not.
When a deploy is triggered, if the deploy script crash, Shipit consider that nothing changed on our production servers.

The only feature we had, was to poll every minutes for the production revision, so that Shipit could be aware of manual deploys and reflect

[2015-09-21 21:34] Sirupsen commented on #490
With an exit-code you'd be required to `rescue` any exception and then reach out to an external data source though, which doesn't seem like the most resilient design. On the other hand, using an endpoint for the app and enforcing a certain serialized structure (that could come from something like Zookeeper) is not the most approachable either.

[2015-09-21 21:39] Sirupsen commented on #490
This sounds good to me :+1:

[2015-09-21 21:41] eapache commented on #490
Isn't the old simple solution a url not a script? I'm not sure I follow.

But generally I would prefer something a bit simpler: a script that outputs a line for each running SHA. That seems easier to manage to me?

[2015-09-21 21:43] byroot commented on #490
No it's already a script. Even though all the usages I can think of are all like: `curl --silent https://example.com/ping/version`

Yeah I though about that too. I think I would be ok with it. I think what made me prefer the status code, is that we need to specify the format at least a bit.

[2015-09-22 00:03] csfrancis commented on #490
Do we care about the case when we're running a rev that wasn't deployed with Shipit? I guess Shipit can figure that out for itself if exit status 0 returns that rev.

:+1: this sounds good to me.

[2015-09-22 00:45] byroot commented on #490
Yup that is what I call "Manual deploy". We already support that case, and I just want to keep it supported.

[2015-09-22 13:41] eapache commented on #490
I have a small preference for multi-line over exit code, but no good reasons for it. Either one sounds good to me.

[2015-09-22 13:44] byroot commented on #490
Yeah I think multiline is better too.

[2015-09-22 13:48] csfrancis commented on #490
I like exit code because it is very explicit. The issue I have with multiline output is that it seems really easy for a script to unintentionally output to stdout (either directly or through a dependency). It's not so easy to unintentionally exit with status code 42.

[2015-09-22 13:50] byroot commented on #490
I see your point Scott. But the common case for this check is to `curl` and endpoint. and controlling exit code then is harder.

As for the output, we already discard anything that isn't a valid git SHA. So I think it would be ok. Not perfect for sure, but ok.

[2015-09-24 15:46] byroot opened #495 "Finalize migration to organization hooks"
We're already using them for monitoring user memberships.

Using them for push and status event would simplify things quite a lot, we wouldn't have to setup new hooks for stacks.

It also open up interesting possibilities, like for example automatically creating stack when a shipit.yml is added.

One important concern here that I still ned to figure out is the migration path for existing installat

[2015-09-24 16:18] dwradcliffe commented on #495
For migration, I assume you have a task to create the org hook somewhere, and after it does that it can attempt to remove all hooks on individual repos.

[2015-09-24 16:18] dwradcliffe commented on #495
Also cc: @baldowl

[2015-09-25 15:26] byroot commented on #495
Update: We can't rely solely on Org hooks because there is no "User hooks". So repo hooks are the only way to track repositories owned by regular users.

Org hooks if available should be preferred though, simply because it's less state to track on GitHub side.

[2015-09-25 15:27] dwradcliffe commented on #495
:+1:

[2015-09-28 17:15] byroot opened #496 "Pubsubstub improvment"
Currently Pubsubstub cause a bunch of minor but annoying issues.

  - Any other server than thin will run it in "degraded" mode
  - Even with thin, you have to force reload (closing open connections), otherwise SSE connections will never timeout

I discussed this a bit with @gmalette, and we think it would be valuable to be able to run it in an external process. That way force reloading it is not

[2015-09-28 17:48] davidcornu commented on #496
@byroot can we gracefully close the open connections?

[2015-09-28 17:49] byroot commented on #496
Oh right I forgot to mention that. So I'd need to search for the github issues and all again. But AFAIK if you use Sinatra `streaming` helper, there is no known way to gracefully close the connection.

[2015-09-28 17:54] davidcornu commented on #496
Ah so the "solution" would be to use `rack.hijack` and manually maintain an open connection pool using EM stuff. Sounds painful.

[2015-12-04 13:51] gmontard opened #506 "Task are created but never get assigned a PID"
Hello,

I'm facing a strange and very problematic issue running the latest version of ShipIt.

Everytime I start a deploy, a task is created (obvious), the deploy process start and I can see in the "terminal like" view that PIDs are created but if I click on **Abort** button I've got a message saying **Abort: failed, PID unknown**.

I've looked into the code and to what I understand the *Task* ins

[2015-12-04 14:50] byroot commented on #506
The pid is stored in `Rails.cache`: https://github.com/Shopify/shipit-engine/blob/eca332d7f14fc4e886568af0169cd48d0986c3a9/app/models/task.rb#L153-L159

So you need to to make sure you use a shared cache store, e.g.:

[code]

[2015-12-04 14:52] byroot commented on #506
That being said, it's a bit silly. It should use `Shipit.redis` to avoid such surprises. I'll fix this soon.

[2015-12-04 15:13] gmontard commented on #506
Thanks @byroot you are totally right!

Thanks, now it works like a charm.

[2015-12-04 15:13] #506 closed

[2015-12-08 19:40] arthurnn opened #509 "add running version number"
we should add the shipit-engine version number somewhere on the screen.

Thanks

[2015-12-08 19:42] arthurnn opened #510 "Deploy button out of the screen"
see screenshot
![screenshot 2015-12-08 14 21 58](https://cloud.githubusercontent.com/assets/833383/11666290/c9775918-9db9-11e5-8f34-113975079540.png)

see the third one almost pushed the button to far away. but the first commit, was way to big to fit, and I cannot see the button anymore.

cc @dwradcliffe

Using latest version, 0.4.9

[2015-12-08 19:58] davidcornu commented on #510
Interesting. This should be truncated as per https://github.com/Shopify/shipit-engine/blob/45d0225276715b6352159b043c3bb4aa07845c2a/app/helpers/stacks_helper.rb#L39.

[2015-12-08 20:07] byroot commented on #510
Yes rubygems.org still use a pre-release version of shipit. This was fixed months ago in https://github.com/Shopify/shipit-engine/commit/8d9d1bd9df729f9573560f4292120a36d1516ada

[2015-12-08 20:55] arthurnn commented on #510
@byroot what do you mean? I just updated to latest version https://github.com/rubygems/shipit/commit/0bda112d82ec054f0629d645c3d0f9c65051fe43

[2015-12-08 20:59] byroot commented on #510
Oh really? WTF!?

[2015-12-08 21:02] byroot commented on #510
I just setup that stack and it works for me:
![capture d ecran 2015-12-08 a 16 01 14](https://cloud.githubusercontent.com/assets/44640/11668395/f8a210a6-9dc4-11e5-99d8-97592d87373c.png)

This page is quite heavilly cached with ETags, and the version of the app is not included in the etag.

Try clearing your cache. I think that will fix it. So the real bug to fix is to embed shipit version in those

[2015-12-08 21:11] arthurnn commented on #510
I think it is a deploy problem we have. I opened up that in incognito mode, and still has the problem

thanks bro.

[2015-12-08 21:11] #510 closed

[2015-12-21 04:58] dwradcliffe opened #512 "After creating new deploy, redirected back to root url"
After I create a new deploy, I'm redirected back to the root url, with lots of query params. The deploy is still happening properly in the background, I just need to navigate to find it again.

Example: `/?action=show&controller=deploys&id=381&stack_id=rubygems%2Fshipit%2Fproduction`

[2015-12-21 09:40] byroot commented on #512
Hum, weird. That's very similar to https://github.com/Shopify/shipit-engine/pull/505.

I'll try to figure that out.

cc @rafaelfranca

[2015-12-21 09:57] byroot commented on #512
SO I confirm I can repro locally, and that it is like #505 due to Rails 4.2.5. Until we figure out the root cause you can lock Rails at 4.2.4 as a workaround.

[2016-01-04 15:46] byroot commented on #475
Closing this assuming it's solved.

[2016-01-04 15:46] #475 closed

[2016-01-04 15:47] byroot commented on #439
Closing this assuming it's solved.

[2016-01-04 15:47] #439 closed

[2016-01-04 15:47] byroot commented on #468
Closing assuming it's solved by now.

[2016-01-04 15:47] #468 closed

[2016-01-07 16:00] byroot opened #514 "Heroku stack deploys fail unless an initial manual deploy is performed"
It fails with the following error message:

[code]

I need to ramp up my heroku skiols a bit and figure that out, unless @gmalette or @davidcornu knows the solution?

cc @Hammadk

[2016-01-07 16:13] gmalette commented on #514
change https://github.com/Shopify/shipit-engine/blob/209348c50b442854e27abca1c039547c8c414e5a/lib/snippets/push-to-heroku#L15 to `$SHA:refs/head/master` ?

[2016-01-12 18:45] lanceblais opened #515 "Inquiry: How do you use ShipIt internally with API/E2E tests?"
Hello,

I wasn't sure how else to reach out, please let me know if there's a better way.

The way I understand the workflow with ShipIt is that each repository contains a `shipit.yml` file describing what steps are performed to deploy the repository.

How are you fitting in API and End-to-End tests into Shipit?

We have multiple repositories that get deployed. Once the code is live, we run API tes

[2016-01-12 18:56] byroot commented on #515
Hi,

To re-implement your flow with shipit you would need to consider those tests as part of the deploy:

[code]

If any of those 3 commands fail, shipit will immediately stop the current deploy.

What you might want thought is to trigger a rollback if it happens. We don't have automatic rollbacks on failure, but it's could be easily implemented.

Does that answer your question?

[2016-01-12 18:59] lanceblais commented on #515
Yes, though a few follow ups:

- Can I have it so only 1 deploy is happening in the entire ShipIt engine?

- Can I have it so only certain projects can be deployed at the same time?

- Can I have projects depend on each other or block on each other?
=> Suppose I have an APP repository and E2E repository, could I make APP wait for E2E to finish?

[2016-01-12 19:07] byroot commented on #515
It's not built-in, however with `review.checks`: https://github.com/shopify/shipit-engine#review-process, You can execute a script that prevent deploys if there is another one running.

If you use the automatic deploy feature, then you can put that same script as the first deploy step.

Same answer.

Same too, you can make your script sleep until it's ok.

[2016-01-12 19:10] lanceblais commented on #515
Ok, I feel like there's tons of options I'll have to try out.

I feel like there's missing some config examples (beyond one line snippets) that could showcase how powerful this tool is!

Thanks!

[2016-01-12 19:12] byroot commented on #515
Indeed. Your use case seems like the most complex I heard of though.

But Shipit is basically a state machine that execute script for each transitions, so if the state machine fit your bill, you can customize those scripts as much as you want.

[2016-01-12 19:16] lanceblais commented on #515
Got it!

Thanks for the fast and helpful replies!

[2016-01-12 22:05] eapache opened #516 "Navigating back to the commit/deploy list is annoying"
Minor thing that I have now hit frequently enough to bother filing a ticket over. I open shipit, and start a deploy which automatically happens in the same tab. There are then two cases:
- frequently while the deploy is still ongoing I'll want to check what other commits are waiting
- when the deploy is done I want to go back to the main page to e.g. start another deploy

In both cases the navigat

[2016-01-14 21:30] byroot commented on #512
Fixed by #513

[2016-01-14 21:30] #512 closed

[2016-01-18 15:49] byroot commented on #514
Just tested, the push indeed work, but it doesn't trigger a deploy on the heroku side :/

[2016-01-18 15:59] byroot commented on #514
Using the API is probably the way to go: https://devcenter.heroku.com/articles/build-and-release-using-the-api

[2016-01-18 16:06] gmalette commented on #514
That would probably work

On Mon, Jan 18, 2016 at 10:59 AM Jean Boussier <notifications@github.com>
wrote:

[2016-01-28 13:53] everestx commented on #475
I eventually got back to this issue on my end and got things working.  I started anew with the latest revision as of yesterday (1/28/2016) and things are working as expected.  So yes, this is resolved.

[2016-01-28 13:57] everestx opened #519 "Phusion Passenger support"
Is there any support to use phusion passenger to run shipit?  Seems to __not__ work out of the box, but I'm curious if your 1.) interested in support for it or 2.) I'm barking up the wrong tree.  My initial testing shows that passenger enterprise 4.x is not working.  I'm trying 5.x next, but thought it was worth an official response before I fiddle any further.

BTW: `rails s -p 3000` works like a

[2016-01-28 14:06] byroot commented on #519
I didn't test it, but yes I expect users to be able to use any web server.

I haven't used passenger in years, but if Shipit is doing something incompatible with passenger, I'd be happy to fix it.

What do you mean by don't work exactly?

[2016-01-28 14:17] everestx commented on #519
It appears that passenger doesn't grab hold of the stdout of the ruby process that starts up.  Either that or the process fails before passenger can get any output. That's the symptom, but I'm not sure of the cause.

passenger.log shows this:
[code]

[2016-01-28 14:21] byroot commented on #519
[code]

I just tried 5.0, worked fine.

[2016-01-29 16:51] byroot opened #520 "Commands timing out can sometimes leave tasks in running state"
That exception is supposed to be rescued and the task marked as errored

[code]

I'll take a closer look at it soon.

cc @gmalette @djoume

[2016-01-29 20:41] everestx commented on #519
Yeah, I tried 5.0.23 (on passenger enterprise) with apache 2.4 and it worked fine too.  Awesome!

[2016-01-29 20:48] byroot commented on #519
Great!

[2016-01-29 20:48] #519 closed

[2016-02-02 22:07] byroot commented on #83
We have this since more than a year and half. Closing.

[2016-02-02 22:07] #83 closed

[2016-02-02 22:26] byroot opened #521 "Allow creation of tag and / or releases on deploy."
### Context:

For many reasons, mostly security, we don't want to let shipit push anything inside the source repository.

The big downside is that it prevents us from creating a tag on deploy. This is especially useful for libraries like gems for example. The `release` task provided by bundler try to create a tag and push it, which leads us to nasty hacks like this: https://github.com/Shopify/ship

[2016-02-10 19:20] byroot commented on #515
Closing this assuming the question has been answered.

[2016-02-10 19:20] #515 closed

[2016-02-11 15:04] xakraz commented on #398
+1

[2016-02-16 18:29] angelini opened #526 "Double deploys when auto deploying with Starscream"
On February 12th we first noticed a case where Shipit would double deploy (two deploys running simultaneously) every once in a while.

We ran into that case again today with:
https://shipit.shopify.io/shopify/starscream/production/deploys/46566  # Success
https://shipit.shopify.io/shopify/starscream/production/deploys/46567  # Failure (folder already exists)

Starscream is setup to auto deploy whe

[2016-02-16 19:22] kmtaylor-github commented on #526
Seems to be happening more frequently?
https://shipit.shopify.io/shopify/starscream/production/deploys/46583 + https://shipit.shopify.io/shopify/starscream/production/deploys/46584

[2016-02-16 22:20] byroot commented on #526
Friendly reminder that this is a public repo ;)

[2016-02-16 22:29] #526 closed

[2016-02-17 14:40] teu opened #527 "Overriding all tasks"
Hi,

out deployment cycle relies fully on capistrano, I basically only need shipit to fetch the specific repository. Is there a way to override all shipit events and just run one shell command?

Thanks

[2016-02-17 14:42] byroot commented on #527
Not sure what you mean. Can you be more explicit? What commands shipit currently run, and what do you want it to run?

[2016-02-17 15:17] teu commented on #527
Hi,

just evaluating, having problems as "RAILS_ENV=production rake assets:precompile" doesnt compile assets (they don't show) but in general we have two commands for our deployments:
[code]
and
[code]
and this is all I want to run via shipit, no hosts, no installations, nothing, git clone/fetch + cap.

Is this possible? Could not find much in terms of examples.

Cheers

[2016-02-17 15:23] byroot commented on #527
So. A shipit deploy have 3 steps:

  - Clone / checkout of the repo. There is no way around that one, but you want it anyway so that's ok.
  - Dependency installation, e.g. install cap. By default shipit will run `bundle install` if your repo have a `Gemfile`, but you can customize that step entirely via the yaml file: https://github.com/shopify/shipit-engine#other-dependencies
  - Then the actual

[2016-02-17 16:48] teu commented on #527
Excellent, any idea why my assets don't want to recompile (or rather theserver seems to use some other ones) ?

[2016-02-17 16:50] byroot commented on #527
Well it depends of your capistrano setup. The most common setup is to have capistrano compile the assets on the deployed server.

Are you compiling the assets locally? I'm not sure I understand.

[2016-02-17 16:53] teu commented on #527
The shipit css/js/images used to run fine in development mode - now in production mode, 404's. I ran:
[code]
It generated a whole bunch of files but after the server restarted the code still points to 404 statics.

Now I am not a rails dev, perhaps the doc assumes this, and this is a trival lack of rails knowledge.

[2016-02-17 17:02] byroot commented on #527
Oh you are talking about shipit's assets! I though you were talking about the assets of your app.

I see. So it depends how your Shipit instance is deployed, but there is 2 solutions:

  - If you are behind a web server (Nginx / Apache) then you need to configure your server to serve the content of `public` in priority (there many articles explaining this around the web).
  - If you are on Heroku

[2016-02-17 17:03] byroot commented on #527
Here's one article on how to configure nginx for instance: http://vladigleba.com/blog/2014/03/27/deploying-rails-apps-part-4-configuring-nginx/

[2016-02-17 17:06] teu commented on #527
Thanks, a lot, will do that! Perhaps it would be good to mention in the doc so others don't bother with the obvious.

[2016-02-17 17:08] byroot commented on #527
Indeed. We should find a good documentation on how to deploy a Rails app, and reference it from the README.

[2016-02-17 18:29] teu commented on #527
OK, this is done, seems like it's working now!

One more question (sorry to drag it on, perhaps a inFAQ can come out of this).

Added a stack - nothing is happening, got "Refresh scheduled" after clcking "refresh statuses and commits" - any idea, does some outside process need to run for this?

[2016-02-17 18:45] teu commented on #527
OK, figured it out, also good to put sidekiq into the doc. Looks amazing, thanks!

[2016-02-17 18:46] byroot commented on #527
Arf, you beat me to it, I was writing my answer.

And yes I agree the setup docs are totally insuffisant for people not familiar with Rails.

I'll keep this issue open until it's solved.

[2016-02-17 19:02] teu commented on #527
ok, another couple of problems... bear with me here please

started deployment, but dont have a shipit.yml in the repository:
[code]

and thats it - guessing thats due to lack of the config file - any way to stop the process?

[2016-02-17 19:05] byroot commented on #527
Applications can perfectly be deployed even if they don't have a `shipit.yml`.

`CacheDeploySpecJob` is triggered for each new commit Shipit sees.

Not sure what your problem is though, is that job stuck? If so it could be because it's trying to clone the repository. You have to make sure the user under which Shipit run can SSH to GitHub and have enough access to clone the repositories.

[2016-02-17 19:26] teu commented on #527
Unsure - the access token has all but team:write permissions:
[code]

[2016-02-17 19:32] teu commented on #527
Or do you mean to clone it via ssh?

[2016-02-17 19:32] byroot commented on #527
Yes I confirm, it definitely hanged during cloning.

Try to SSH on Shipit's server and then:

[code]

You can also try a git clone.

[2016-02-17 19:33] byroot commented on #527
Yes, I though the docs mentioned it, but turns out it doesn't. The unix user that run Shipit needs to have enough SSH credentials to be able to `git clone git@github.com:your-repo`.

[2016-02-17 19:42] teu commented on #527
At this point it will not surprise anyone when I say I have another problem:

[code]

[2016-02-17 19:52] byroot commented on #527
Lol, no problem, I'm happy to help.

Ok, so this is a relatively common one. It's explained here: https://github.com/shopify/shipit-engine#installing-dependencies

So you need to put capistrano and other gems required for deploy in the `deploy` group.

[2016-02-17 20:43] teu commented on #527
One step closer ;-)
It got to fire up capistrano. Our deployment does some internal checkouts to temp dirs (assuming this can change as shipit already has a temp dir) and performs some additional clones and so on. The root user which it runs on also has access to the repos.

[code]

and blocking again - fails at a few retries.

[2016-02-17 20:50] byroot commented on #527
So clearly it failed to checkout the head of the branch you asked to track:

[code]

Does that branch exist? The best way to debug this is probably to clone that repo with the same user shipit use and then try to run `git checkout --force origin/asg_deployment_test`.

[2016-02-18 09:56] teu commented on #363
+1 on the abort and rollback

[2016-02-18 10:15] teu commented on #527
This is the sam branch that ha been checked out by shipit - basically our cap made sure it doesnt work on the local checkout as this could be on someones machine. Shipit runs as root.

[2016-02-18 10:48] teu commented on #527
I can confirm I can check out the repository on the same user and fetch the branch just fine:
[code]

[2016-02-18 11:44] teu commented on #527
The weird thing is I am not doing that in capistrano, the first thing I am doing is git clone to a temp folder and never force. Capistrano was clearly an by shipit (as I got output about the servers it found to deploy to) so I am not sure about the precedence of events here.

[2016-02-18 13:59] teu commented on #527
Stuck on this - any idea?

[2016-02-18 14:28] byroot commented on #527
Shipit does that to read the YAML file. That is what `CacheDeploySpecJob` is for.

Well, I'm not entirely sure to understand where you're at. You triggered a deploy and it crashed, right?

If so can you paste the entire deploy output in a gist? It will give me a better idea.

[2016-02-18 14:32] byroot commented on #363
You need to abort deploys and rollback them from the REST API? If so I'd love to hear about your use case.

[2016-02-18 15:15] teu commented on #527
Hi,

any change of sending this via email so it's not public?

[2016-02-18 15:16] byroot commented on #527
Sure. Feel free to contact me on my public GitHub email.

[2016-02-18 15:37] teu commented on #527
On the other hand this does not to appear to have anything sensitive.
https://gist.github.com/teu/4fba4e43de01937b5db9

[2016-02-18 15:41] byroot commented on #527
Ok, so according to that gist shipit attempted to kill capistrno because it didn't print anything in 5 minutes. Look like capistrano is hanging on something

[2016-02-18 15:47] teu commented on #527
Yes, looking at sidekiq.log:

[code]

[2016-02-18 15:51] byroot commented on #527
That's a different problem I'm afraid. Would you have time for a call a bit later? It would probably be easier / faster

[2016-02-18 15:52] teu commented on #527
Hi, sure, will email you with my skype.

[2016-02-18 18:45] byroot commented on #527
So for pulbic record, https://github.com/mattbrictson/airbrussh was causing issues when invoked from shipit. I'll file a specific issue for this.

[2016-02-18 18:46] byroot opened #529 "Investigate Airbrush compatibility"
Discovered with @teu

A capistrano recipe using https://github.com/mattbrictson/airbrussh was entirely stuck when invoked from shipit.

[2016-02-18 20:08] teu commented on #527
After some tinkering got it a lot further. Managed to quickly get the deployment to work from the local checkout (probably good to mention the initial steps shipit is taking with the code in the doc) it failed on yet another thing that works fine from the same user:
[code]

Can I ask for help on this one?

[2016-02-18 21:07] byroot commented on #527
The error is here: `sh: 1: php: not found`

Since it works when you run it manually, I think it's because shipit doesn't spawn commands in a shell and as such isn't sourcing `/etc/environment`, and other `~/.bash_profile`. That problem is very common in cron tasks as well.

To confirm that, you can make shipit print environment variables:
[code]

[2016-02-18 21:09] byroot commented on #527
Oh and if I'm right, then you need to make sure Shipit's $PATH is set properly. There is many way to do it though all depending on how you shipit instance is hosted.

But a shitty hacky way could be:
[code]

[2016-02-18 21:16] teu commented on #527
You are correct, missed it in phpfarm settings. Many thanks!

[2016-02-18 21:41] teu commented on #527
Hmm, the path in /etc/environment is set for a long time, not sure why it doesn't work. The set in capistrano also did not work, looks like something is overriding it.

[2016-02-18 21:43] byroot commented on #527
Did you set `"/opt/ruby-enterprise/bin/:$PATH"` exactly or is it an example?

[2016-02-18 21:45] teu commented on #527
No:) It's
[code]

[2016-02-18 21:49] byroot commented on #527
A bunch of ideas here.

  - If you are using capistrano 3, then I think the variable is `default_env`, not `default_environment`
  -  From the logs you pasted I believe php is invoked locally. I'm not 100% sure capistrano use that variable for local commands. You can also try `ENV['PATH'] = "#{ENV['PATH']}:/path/to/php/install/dir"` inside you cap recipe.

[2016-02-18 21:51] teu commented on #527
Weird thing is that /etc/environment is overriden, shouldn't it be the base for /usr/bin/env?

[2016-02-18 21:54] byroot commented on #527
I'm not familiar enough with `usr/bin/env` but I don't think it sources `/etc/environment`.

[2016-02-18 21:55] teu commented on #527
Think its some rvm magic.

[2016-02-18 22:14] teu commented on #527
This got me further, thanks. Two more issues:
- at some point the cli stream gets stuck (~3-4 minutes into the process)
Looked into it and
- some of the responses of the xhr start responding with 304, not sure if that is indended in case of nothing new to report or is there a cache problem
- after some point 500 are being returned:
[code]

- abort doesn't abort, said it sends sigterm but does not

[2016-02-18 22:23] byroot commented on #527
`Encoding::UndefinedConversionError ("\xE2" from ASCII-8BIT to UTF-8):`

Interesting. The encoding of the commands output is off. I'll investigate a bit more about this, but at first sight it is likely related to `$LANG / $LC_ALL`. Can you add:

[code]

In your capistrano, please?

[2016-02-18 22:25] teu commented on #527
Those values probably need to be set system wide (had a tool with the same problem just now).

[2016-02-18 22:26] byroot commented on #527
Actually wait. It's blowing up in the controller, which mean it was inserted fine in the DB but now it can't encode it in JSON.

[2016-02-18 22:26] byroot commented on #527
What database are you using?

[2016-02-18 22:28] teu commented on #527
RDS mysql 5.6 character set utf8 collate utf8_general_ci

[2016-02-18 22:33] byroot commented on #527
Ok, by googling a but I found people with similar issues: https://github.com/JoshCheek/seeing_is_believing/issues/46#issuecomment-69007428

I think that might be an actual bug that we are not experiencing because we have `LANG=en_US.UTF-8`. I'll try to reproduce this.

[2016-02-18 22:36] teu commented on #527
Will try to set locale tomorrow. Midnight here.

[2016-02-18 22:46] teu commented on #527
Set the locale system wide and restarted apache (passenger). No change.

[2016-02-18 22:47] byroot commented on #527
yeah sorry, I was about to update to say I can reproduce without changing LANG.

[2016-02-18 22:48] byroot commented on #527
Reproducing is basically as simple as:

[code]

What I don't understand though it that we do handle this already here: https://github.com/Shopify/shipit-engine/blob/fd3ce935a20163cf7dd39b3dfa5d0731a848e632/app/models/shipit/output_chunk.rb#L8

[code]

So there is something fishy here :/

[2016-02-18 22:56] byroot commented on #527
Ok, so one possibility would be the usual `utf8 vs utf8mb4` MySQL shenanigans.

If you have say, and emoji in your output, it's very possible it got truncated by MySQL.

[2016-02-19 08:53] teu commented on #527
Perhaps I should create a database with a different encoding then?

[2016-02-19 14:44] byroot commented on #527
Well, I haven't tested yet to confirm it's indeed this. But it's recommended to use `utf8mb4` with Shipit. People have a tendency to put emojis in commit messages or build outputs.

[2016-02-19 15:01] teu opened #530 "Allow custom env per stack"
Currently facing a problem in which we would like to have  an effective rollback.

Our cycle in short:
* capistrano builds [datetime]_[short tag].tgz artifact
* capistrano sends artifact to s3
* capistrano uploads a deployment script to all machines
* machine fires script to download and install artifact

The only way I see to rollback quickly with shipit is to simply redeploy and make capistrano

[2016-02-19 15:10] byroot commented on #530
Per stack? Or per deploy?

If you want some env to be set for all the commands run for a stack there is this: https://github.com/shopify/shipit-engine#environment

If you want to set environment variables for a specific deploy there is that feature (Just noticed it is undocumented, I'll fix that):

[code]

Which prompts you before deploy with this:

<img width="512" alt="capture d ecran 2016-02-19

[2016-02-19 15:27] teu commented on #530
Excellent! Thanks!

[2016-02-19 15:36] byroot commented on #530
Closing this assuming it fulfill your need. Feel free to re-open if it turns out it's not.

[2016-02-19 15:36] #530 closed

[2016-02-19 16:33] teu opened #531 "Ability to see current deployments of all stacks"
Hi,

this is more a usability feature - as we have over 10 stacks to deploy, some continuously, some not, would be great to be able to see what is being deployed on the initial shipit screen, which I can't right now  (or perhaps it's not documented ^^)

[2016-02-19 16:46] byroot commented on #531
Hum, never though of that. Not a bad idea. It would require a bit of design though which is always Shipit's bottleneck.

Also not sure if you noticed, and it's not exactly what you ask for, but on the initial screen the stacks that have a :ship: icon are the ones with undeployed commits.

[2016-02-19 16:52] teu commented on #530
One problem we are facing is multiple stages of development. This is more a shipit.yml-per-stack problem or perhaps per env settings. As we would deploy pre production envs continuously, the standards variables would need to change in some cases - this could be solved via some capistrano hack but then again the flexibility of the vars would be lost.

[2016-02-19 16:54] byroot commented on #530
Oh. You have a feature for that, you can have multiple `shipit.yml`

For example if you have a stack like: `SomeOrg/SomeRepo/staging`, shipit will first look for a `shipit.staging.yml` file, and if it doesn't find it it fallbacks to `shipit.yml`

[2016-02-19 16:54] teu commented on #531
Yes, the icon is not obvious though (would't have figured it out myself), I could suggest an on hover explanation on the icon may add to usability.

[2016-02-19 17:06] teu commented on #530
Is this in the doc though?

[2016-02-19 17:07] teu opened #532 "Deployment time gets lost after app deployed"
Would be great if the deployment time could be saved and showed with the deployment. One problem we face is slow deployments at times and currently shipit shows how much time passed while looking at the deployment screen but doesn't seem to record it anywhere. This would be a very basic statistic but could lead to e.g. showing a deployment graph later on, this may be quite important for larger tea

[2016-02-19 17:09] gmalette commented on #532
I've also wanted this, @byroot. Our deploy time has increased dramatically recently, and at first I wanted to know if it was every deploy or just mine, and couldn't find the info in Shipit.

[2016-02-19 17:11] byroot commented on #532
Right. We do have the data. It's a matter of dusplaying it

[2016-02-19 17:17] teu opened #533 "Ability to lock deployments"
This is quite crucial in larger orgs. Ability to lock the deployment on a certain stack so that larger teams do not have to synchronize deployments via chat.

Proposition is for locking with saving the time, user and reason for the lock + an unlock button.

In some cases this could prevent real disasters and on a normal day make life easier for DevOps.

[2016-02-19 17:21] teu commented on #530
I've added a shipit.production-asg.yml with:

[code]

As I don't see the checklist I gather it is being ignored.

[2016-02-19 17:23] teu commented on #533
Missed it's already there. nvm

[2016-02-19 17:23] #533 closed

[2016-02-19 17:47] teu commented on #530
Actually it's working, just the checklist example does not seem to work and is producing a syntax error, adding issue.

[2016-02-19 17:49] teu opened #534 "Example review checklist produces syntax error"
Ran the example:

[code]

produces:
[code]

Also unsure where the iframe is supposed to be?

[2016-02-19 18:10] byroot commented on #534
Good catch. Fixed in d2020b438615bc9b09fba28d32ecc80d7193025c

Also you have 2 `review` keys, you have to merge them:

[code]

It's to include monitoring graphs etc on the review page. e.g. a new relic graph or something like that.

[2016-02-19 18:10] #534 closed

[2016-02-19 18:15] byroot commented on #530
Added in 62f36918bec1ce65b648947fa1ac0f613ae36073

[2016-02-19 18:23] teu commented on #534
Which page is the review page? Does this require a checklist to work?

[2016-02-19 18:32] byroot commented on #534
When you click on "Deploy", it doesn't trigger the deploy immediately. It just send you to the "Review" page where you can confirm.

![capture d ecran 2016-02-19 a 13 31 36](https://cloud.githubusercontent.com/assets/44640/13185037/212da40a-d70d-11e5-9b79-83dbf3bb5014.png)

The checklist is not mandatory.

[2016-02-19 18:47] teu commented on #534
Weird, iframe is showing but only an empty doc, domain is https://app.uxpin.com

[2016-02-22 11:46] teu opened #535 "healthcheck url"
Hi,

when running shipit inside an AWS EC2 instance we face a redirection problem.
An elastic load balancer requires a 200 response in order to deem the instance viable to route traffic to it, however shipit always returns 302 as it redirects an non-authenticated user to github's OAuth gateway.

I suggest adding in an DMZ healthcheck url (e.g. /status) returning a simple OK http code.

[2016-02-22 13:13] teu opened #536 "Status hook 500 error"
While push hooks from github work fine, the status hook produces a server error (null pointer exception pretty much):

[code]

[2016-02-22 14:18] dwradcliffe commented on #535
There is `/status/version` which should work.

[2016-02-22 15:02] byroot commented on #535
Yes as David said. Also since Shipit is an engine embeded in a host application, you can add any endpoint you'd like.

[2016-02-22 15:02] #535 closed

[2016-02-22 15:10] byroot commented on #536
The hook was sent without a signature. Did you create it manually?

In any case, delete it and let shipit create it via the settings page of that stack (Webhooks button).

[2016-02-22 16:01] teu commented on #536
You are correct.

[2016-02-22 16:01] #536 closed

[2016-02-22 16:25] teu opened #537 "shipit does not allow to deploy similar stacks"
Hi,

As we have to test prior to deploying on production, we obviously use git branches. Now I am trying to create a second stack, similar to the one I possess but just the branch changes.

Not really getting an error, just page reloading and nothing is happening. Looked at console but still nothing.

There should be a way to create unique stacks based on app+branch+env, as deleting a stack effect

[2016-02-22 16:29] byroot commented on #537
I'm not sure i understand the issue. The rpo and env are the same but the branch is different?

[2016-02-22 16:29] teu commented on #537
Yes.

[2016-02-22 16:43] byroot commented on #537
That would go against tons of assumptions in the code base, starting with the URL routes.

Another feature to allow this is on the wishlist since a while: https://github.com/Shopify/shipit-engine/issues/181

But I'll be honest we have no plans to implement it anytime soon.

[2016-02-22 16:43] #537 closed

[2016-02-22 16:50] teu commented on #537
Fair enough, this is not a show-stopper just makes it very annoying to work with the tool as it doesn't go with the well established strategy to branch changes and test before merges.

[2016-02-24 19:16] teu opened #538 "Nasty error on a single project"
All other projects work, a single one has a nasty error:

[code]

Tried creating a utf8mb4 mysql DB, rake db:setup fails. Getting this on a utf8 mysql db (new one and old one with other projects too). Any ideas?

Found same thing in another project, perhaps this could help:
https://github.com/sj26/mailcatcher/issues/201

[2016-02-24 20:53] teu opened #539 "Branch variable exposed"
Hi,

would be great if the branch variable could be exposed. Building some features is very difficult/impossible as shipit branches the project and there is no way to extract the original branch, while this is surely readily available from the build itself. Some of our post build hooks also rely on the branch being known (currently breaks). Thanks.

[2016-02-25 14:21] #539 closed

[2016-02-25 14:29] byroot commented on #538
From my understanding the script output was stored fine in the database, but then when it's retrieved to be serialized in JSON, it's considered as ASCII instead of UTF8.

What does your `database.yml` look like? Make sure you have something like this:

[code]

[2016-02-25 14:38] teu commented on #538
No, just the defaults, will try this now.

[2016-02-25 15:00] teu commented on #538
OK, this worked (it did set up the db). Perhaps this should go into the doc.

On the other hand, having sidekiq problems - is there any special command/precedence to run it?
Apache+passenger are running as root, sidekiq doesn't really do anything, flushed redis and still nothing.

Would be great if you could give me a troubleshooting guide for restarting sidekiq completely.

[2016-02-25 15:06] teu commented on #538
And...
[code]

On the first project. Brand new DB (utf8mb4), new hooks, even flushed redis.

[2016-02-25 15:40] byroot commented on #538
Looking at the backtrace, this one is from a background job, so was sidekiq restarted properly?

Sidekiq Wiki's should contain all you need: https://github.com/mperham/sidekiq/wiki

[2016-02-25 16:29] teu commented on #538
Sidekiq has been killed. Redis flushed completely.
The default shipit sidekiq file does not have the pidfile suggested in the sidekiq doc.
[code]

Sidekiq docs say to kill sidekiq via sidekiqctl, which requires a pid file.

[2016-02-25 16:37] teu commented on #538
Initially this problem was due to a single project (we had many) so perhaps a badly restarted sidekiq would not create the problem when deploying just one project but not create the problem with other projects.

[2016-02-25 16:56] byroot commented on #538
It only happen on a single project because there is something in the output of that project deploy script that triggers it.

Your other projects likely have pure ASCII outputs. But overall there is something wrong in your setup, because we have several hundreds of deployed apps and some with very funky output and we don't experience that error.

I just can't figure out what exactly is wrong. All I

[2016-02-25 17:58] teu commented on #538
Perhaps a data dump from mysql would help here?

[2016-02-25 18:00] byroot commented on #538
Indeed. But maybe try to limit it to just that one deploy. You can send it to me via email I'll see what I can do.

[2016-02-25 18:06] teu commented on #538
KK, we have one stack now.

[2016-02-25 19:54] teu commented on #538
Perhaps you can figure something out from the dump.

[2016-02-29 16:11] teu commented on #538
Any ideas? We are hoping to use shipit but now we have to hand-deploy due to this issue.

[2016-03-01 02:17] byroot commented on #538
Sorry, I didn't have much time in the last few days. But I finally figured out where this error come from.

So first I was misguided, I though the issue was with the script output, in fact reading the backtrace more carefully, it's from the webhook payload serialization.

When a deploy change state, Shipit serialize all of it and trigger outbound webhooks (1), and those webhooks contains the list

[2016-03-01 09:08] teu commented on #538
That's excellent, will try it out asap! Thanks.

[2016-03-01 15:21] teu opened #542 "github hooks don't correspond to stacks"
Hi,

the difficulty is when having multiple apps/stacks it can be cumbersome to manage github hooks as the urls don't show which stack they mean:

[code]

While the stack urls in shipit use the app and env names.

[2016-03-03 15:15] byroot commented on #538
This has been resolved. Root cause was using the `mysql` adapter instead of `mysql2`. It will soon not be a problem since that adapter have been removed in Rails 5.

[2016-03-03 15:15] #538 closed

[2016-03-03 20:59] byroot opened #544 "`machine.directory` improvements"
First it's missing from the documentation.

Second, the inference code (e.g. `Capfile` detection) doesn't take it into account.

cc @gmalette @macmata

[2016-03-03 22:29] #23 closed

[2016-03-04 11:13] teu opened #548 "Ability to preserve the deployment directory"
When an error occurs in the deployment, currently there does not seem to be a way to preserve the directory of the deployment for debugging. Would be good to have some shipit.yml value with a default to cleanup but ability to leave it.

[2016-03-04 16:26] byroot commented on #544
Fixed in https://github.com/Shopify/shipit-engine/commit/cd4cc2042d5282de570094d76af4f792e23d7666

[2016-03-04 16:26] #544 closed

[2016-03-04 16:54] byroot commented on #548
I wished that feature existed too a couple times. Done in https://github.com/Shopify/shipit-engine/commit/586e0d9dcec29f3642fd97343e76fdc54ead6454

[2016-03-04 16:54] #548 closed

[2016-03-04 17:10] teu commented on #548
Brilliant:)

[2016-03-04 18:34] byroot commented on #382
Just to be sure, you asked the back to top so you could reach the header navigation? If so doeshttps://github.com/Shopify/shipit-engine/pull/550 solves your issue @dwradcliffe ?

[2016-03-04 18:35] #516 closed

[2016-03-04 18:42] dwradcliffe commented on #382
Yep, that should do it, thanks!

[2016-03-04 18:42] #382 closed

[2016-03-04 19:01] #509 closed

[2016-03-04 19:02] #466 closed

[2016-03-04 19:47] #478 closed

[2016-03-04 20:16] #398 closed

[2016-03-07 16:52] arthurnn commented on #509
cooll, thanks

[2016-03-08 08:31] teu opened #552 "Emergency mode custom command"
Hi,

we came across a scenario in which it would be extremely useful to have a custom, form input command ran on an emergency action. We had a situation in which we fired up our custom deployments and couldn't roll back due to the cap $ENVIRONMENT deploy:rollback not really meaning anything to our custom capistrano deployment.

Now when we wanted to roll back, shipit loads the specific commit, tha

[2016-03-09 13:11] lucasmazza opened #553 "Automatic membership sync for github_teams"
On my first install of shipit I added the `github_oauth.teams` config and got locked out of the app, even though my GitHub user is a member of the configured team.

I found the [`team.rake`](https://github.com/Shopify/shipit-engine/blob/037a280d11b40c5ae7efbb41e69bda4305285b1b/lib/tasks/team.rake#L5-L8) task when greping through the source code, and although there isn't any mentions to it in the d

[2016-03-09 14:19] byroot commented on #553
Indeed the rake task is for the initial import of the team members. I'll fix the documentation thanks for the heads up.

Just pushed a `0.8.2` with that fix, that for the heads up again.

It's only for the initial import or if you can't setup an organization hook. After that the members list is kept updated via hooks. But yes you are right it could definitely be improved.

[2016-03-09 15:06] #553 closed

[2016-03-17 13:45] teu opened #557 "Predeployment desn't run"
Hi,

having a problem with predeployment steps:

This is my shipit.yml

[code]

The scripts in in "pre" of deployment didn't seem to have been run at all. Am I doing something wrong here?

Also question - will the post onces run on an unsuccesuful deployment?

Thanks

[2016-03-17 14:23] byroot commented on #557
Pre and post steps were added very recently in `0.8.1`. Did you update your shipit install?

No Shipit will always stop at the first non-zero. The goal of pre and post step is just to avoid committing the deploy steps shipit inferred. For example if you need to compile assets before your cap deploy:

Before you had to do:

[code]

While now you can simply do:

[code]

[2016-03-17 15:12] teu commented on #557
Updated now - shipit could show the version number somewhere on the bottom - that would be helpful.

Question - how do we handle post deployment hooks on failed deployments? In this scenario I would want the auto scaling to be resumed either way.

[2016-03-17 15:19] byroot commented on #557
It does at the top right corner.

We could add some kind of `finally` or `always` clause to the `shipit.yml` but in the meantime the best way to to put everything in a single script so you can handle errors

[code]

[2016-03-17 15:51] teu commented on #557
OK, have the version after the update 0.8.6 now. Should the pre deployment hooks appear in the deployment log? Can't see them.

[2016-03-17 15:58] teu commented on #557
Can confirm that they didn't fire at all still.

[2016-03-17 17:02] teu commented on #557
Any ideas?

[2016-03-17 17:10] byroot commented on #557
Just tested again, works just fine for me. Are you sure you restarted sidekiq as well?

[2016-03-17 17:31] teu commented on #557
Restarted just shipit...

[2016-03-17 17:34] #557 closed

[2016-03-17 19:06] PatKoperwas commented on #529
Hey randomly came across this issue - I had something similar happen when attempting to spawn a Capistrano process from `PTY`. It ended up being a weird issue caused on [this line in Airbrussh](https://github.com/mattbrictson/airbrussh/blob/449f621835600fc93916a52be93db139aa30b3fd/lib/airbrussh/console.rb#L26). The `console_width` ends up being `0` so it never outputs anythings.

Solved by changin

[2016-03-17 19:35] byroot commented on #529
Wow, thanks a lot for the tip!

[2016-03-24 16:05] perobertson opened #558 "[Question] Should the UI be changed to use a different css framework and/or templating engine?"
Ive seen some discussion about using [bootstrap](http://getbootstrap.com/) and [primer](http://primercss.io/). Is this something that is still wanted?

There has also been some discussion about switching to [slim](http://slim-lang.com/) over erb. Is this something that is still wanted?

See #469 for some of the discussion that has occurred.

[2016-03-24 17:12] byroot commented on #558
Yes. Design work keep being an issue in the project and being able to implement clean UI with little to no CSS would be a huge benefit.

I'm in favor of it but it's a relatively more controversial change, so probably not.

[2016-03-24 19:25] perobertson commented on #558
So you do not want to go down the bootstrap route or did you just mean no custom css being made?

[2016-03-24 19:30] byroot commented on #558
Sorry I realize it wasn't very clear.

We're quite happy with the current design, and we'd like to keep it.
But since it's homemade CSS it requires skills that I and most Shipit contributors don't have to add new UI.

So the idea behind #469 was to develop a custom Bootstrap theme so that we can keep the current look and feel of Shipit, but make it easy to implement new interfaces.

[2016-03-24 19:37] perobertson commented on #558
Gotcha. Ive been meaning to do some work on the UI side and just wanted to figure out the direction you were going with that.

So the next question is should a CDN be used instead of having shipit host the css?

[2016-03-24 19:55] byroot commented on #558
And it's very much appreciated :) #448 was such a shame, thanks again for fixing it.

So if you want to do more UI work on Shipit:

  - If you think you have **a lot** of time to commit you can attempt the Bootstrap conversion, but beware it's not simple nor fast.
  - If you just have a few hours there and there, I have no problem merging PRs going forward with the current CSS.

Since Shipit is a

[2016-04-01 14:52] byroot commented on #529
Fix was submitted to Airbrush, no reason to keep this open.

[2016-04-01 14:52] #529 closed

[2016-04-01 14:54] byroot commented on #452
The sticky header is gone as of https://github.com/Shopify/shipit-engine/pull/560

Closing this.

[2016-04-01 14:54] #452 closed

[2016-04-01 17:15] byroot commented on #386
Couldn't repro with Safari 9. I assume they fixed it.

[2016-04-01 17:15] #386 closed

[2016-04-01 17:17] byroot commented on #558
Closing this. Feel free to re-open if you have more questions.

[2016-04-01 17:17] #558 closed

[2016-04-01 20:39] teu opened #562 "shipit meltdown"
Hi,

we experienced a total shipit meltdown today, for no apparent reason (servers runs only shipit) it stopped deploying anything.

One of our deployments is hanging in a constant state of running, when we tried to abort, we are getting:
[code]

Tried:
- restarting sidekiq
- flushing redis
- restarting passenger app (runs apache/passenger)
- restarting apache

Another stack hangs completely on a

[2016-04-01 20:46] byroot commented on #562
What likely happened here is that sidekiq died without marking those deploys as completed, so now Shipit won't trigger any other deploy because it thinks there is one on the way.

It happened to us once where I had to `docker kill` a background job. It so rare that I never added anything in the UI to fix that state, but we likely should.

In the meantime what you can do to fix the state:

[code]

[2016-04-01 20:49] teu commented on #562
Hi byroot,

excellent, thanks. That seems to have helped with the running one, but not with the pending commit, is that another type of background job?

[2016-04-01 20:52] byroot commented on #562
Oh sorry I missed the part about the pending commit. For that there is 2 possiblities:

  - Either that commit is still marked as `pending` on the GitHub side. You can check this via their API: https://developer.github.com/v3/repos/statuses/#list-statuses-for-a-specific-ref
  - If it's not pending on GitHub, then Shipit must fail to fetch the new status, in that case check the sidekiq UI for faile

[2016-04-01 20:58] teu commented on #562
Might sounds silly, but what sidekiq UI ?

[2016-04-01 21:11] teu commented on #562
Actually it helped, the second problem was also a deployment job, however wasn't an hour old when I first ran the job. Great support as always! Thanks @byroot

[2016-04-09 22:04] sgringwe commented on #520
I'm also running into this error and leaving the app in a weird state. I'm also not sure how to fix this, yet.

[2016-04-09 22:06] byroot commented on #520
@sgringwe The workaround described here: https://github.com/Shopify/shipit-engine/issues/562#issuecomment-204561300 should help until I fix the root cause.

[2016-04-12 16:05] byroot opened #565 "New log filtering shortcomings"
Following https://github.com/Shopify/shipit-engine/pull/560 I got some feedback.

- Many people didn't realize the `cmd + F` feature was actually filtering the output.
  - I think since it wasn't highlighting the search term, it made it harder to discover.
- Since the search is operated on the output including ANSI escape sequences, you can't match something in 2 different colors.

### Possible im

[2016-04-14 02:31] perobertson opened #567 "Convert to Bootstrap 4"
These are all the pages (not including the partials) that will need to be converted to Bootstrap. Each page is broken down into 3 sections `html/css`, `js`, and `tests`. Since the selectors will most likely change, theres a good chance that the tests will need updated. Similarly the js will need to work with the new DOM.

- [ ] missing settings
  - [ ] html / css
  - [ ] js
  - [ ] tests
- [ ] dep

[2016-04-14 20:18] #520 closed

[2016-04-14 20:30] #542 closed

[2016-04-14 20:31] byroot commented on #542
I just added https://github.com/Shopify/shipit-engine/commit/c04168909ea523896e9dd4bd5097a4cea08ea9ac

You can now lookup stacks by `id`, e.g: `https://shipit.example.com/stacks/42` will redirect you to `/owner/repo/env`. Hope it helps.

[2016-04-14 20:34] byroot commented on #552
You can do this with a custom task and env variables:

[code]

[2016-04-14 20:34] #552 closed

[2016-04-14 20:36] byroot commented on #532
Deploy duration are now recorded and displayed since https://github.com/Shopify/shipit-engine/pull/561. I didn't cut a release yet but I will soon.

As for the graph it's still not done but I think https://github.com/Shopify/shipit-engine/issues/457 covers it as well and I prefer to have a single issue.

[2016-04-14 20:36] #532 closed

[2016-04-14 21:14] #356 closed

[2016-04-18 02:18] jules2689 commented on #356
This PR breaks initial deploys.
`deploy_controller` calls `last_deployed_commit` and ends up returning this: `ActiveRecord::AssociationTypeMismatch (Commit(#70029418532760) expected, got Module(#70029391563920)):`

Will look at a fix.

[2016-04-18 02:30] jules2689 commented on #356
https://github.com/Shopify/shipit-engine/pull/569 should fix it. Not sure if the best solution. Seems to be the only case where a module won't do though.

[2016-04-18 18:40] #565 closed

[2016-04-18 20:57] ahmgeek opened #571 "Digitalocean"
I know this place is for bugs, but I can't post that anywhere else.
I was considering using ship it, but never have a clear Idea about using it with digitalocean.
any hints about that ?

[2016-04-18 21:08] byroot commented on #571
You mean installing it on DigitalOcean? If so shipit is just Rails app, you can deploy it pretty much anywhere granted you know the Rails stack.

[2016-04-18 21:13] ahmgeek commented on #571
no I mean using it to deploy to DigitalOcean it's either I can't grasp the essence of shipit or I am an ass hole to scrap the README fast.
basically I need to use it instead of capistrano.
so do I need to make a git server on my DigitalOcean and set up ship-it to use it ?
that's all missed from the read me I guess. or again, I've just had some misunderstanding of the tool usage.

also, great work

[2016-04-18 21:31] byroot commented on #571
I'm not familiar enough with DigitalOcean, I though it was regular servers with SSH etc.

But whatever, shipit isn't coupled to capistrano or anything else. If you can deploy your app with a scrupt then Shipit is compatible

[2016-04-18 21:37] #571 closed

[2016-04-18 21:37] ahmgeek commented on #571
thanks buddy.

[2016-04-19 15:34] byroot opened #572 "Fix test suite against Redis 3.3.0"
The redis client now uses `Timeout.timeout` and it breaks a big part of the test suite because we are stubbing it in a few places to test for timeout behavior.

https://github.com/redis/redis-rb/compare/v3.2.2...v3.3.0#diff-20ca4377c0eb8c090a4e21893b08e8f9R85

For now I locked the Redis client we use in test to `3.2.2`, but I don't like it.

[2016-04-22 13:19] byroot commented on #348
We're testing https://github.com/gmalette/pubsubstub/pull/9 in production. All is going well so far, I'll update the pubsubstub dependency if no issue if found until next week.

[2016-04-22 14:24] gmalette commented on #348
We just have to make sure we don't break installations that are currently on EM. At worse they should get  polling like we did previously with other servers

[2016-04-22 14:30] byroot commented on #348
Good point

[2016-04-24 21:20] sgringwe opened #573 "Help writing DRYer shipit.yml file for numerous stacks"
I have 11 stacks and expect to have more in the future. Right now I have a somewhat verbose shipit.yml file like so:

[code]

Right now, since each stack has a custom HEROKU_APP_NAME env, each stack also has its own shipit.yml file. We use shipit.staging.yml, shipit.production.yml, etc. in each repository.

The problem we are encountering is that the only unique part of these files is the environm

[2016-04-24 22:05] byroot commented on #573
The solution to this would be to add custom inference in your installation. It's not very hard even though I'm not very happy with the current API and it's not really a public API yet.

Here how it would look like:

[code]

I tested it, it seems to work.

Keep in mind that this uses private APIs and might break in case of update, I'd really like to have 1st class support for that use case though.

[2016-04-24 22:16] sgringwe commented on #573
@byroot legend! thank you for the quick response. i will give this a try soon.

[2016-04-24 22:16] #573 closed

[2016-04-25 20:36] eapache opened #574 "Make commit avatars clickable"
It would be handy if the author avatar and name would be links to the user's github profile.

[2016-04-28 17:08] #562 closed

[2016-04-28 17:17] #572 closed

[2016-04-28 17:24] #574 closed

[2016-04-28 17:24] byroot commented on #574
So I was surprised to see that issue at first because I was certain we had it, but it appear we lost the link during the redesign.

Anyway it's fixed now.

[2016-04-28 17:25] eapache commented on #574
Thanks!

[2016-05-07 14:31] #463 closed

[2016-05-16 14:54] gmalette commented on #496
Is this finished?

[2016-05-16 14:56] gmalette opened #578 "Hitting back doesn't show an up-to-date page"
When waiting for a while at the `deploy/new` page, it's possible that a few events make it into the backlog. If the user hits back after that, the page will be served from cache, and they will only catch-up to the backlog once a new event makes it in. This results in a page that is out of date.

Proposed solution: Improve `PubSubStub` to use fallback `X-Last-Event-Id` as HTTP param, and render it

[2016-05-16 15:35] casperispoop commented on #578
Actually I believe it's more of an ETag / Cache-Control issue. We might need to add a `Cache-Control: must-revalidate`.

[2016-05-16 15:37] casperispoop commented on #496
Well, we do run it externally at Shopify. But it requires quite a bit of custom code to do so.

We should make it trivial before we close this issue.

[2016-05-20 19:59] arjun810 opened #580 "Dealing with passwords / secrets?"
Sorry if this is the wrong place for a question.

Do you have any suggestions for how and where to store secrets, such as database credentials, when deploying with shipit?

The deploy server obviously will need access to these, but I'm not sure of the best way to handle this.

Thank you!

[2016-05-22 00:01] byroot commented on #580
You have 2 options:

  - You can store the secrets on the Shipit server, either somewhere on disk or in the the environment.
  - You can store the secrets **encrypted** inside your repository, and decrypt them on deploy.

We usually do the second using [ejson](https://github.com/shopify/ejson), as you can see here for example: https://github.com/Shopify/js-buy-sdk/blob/602b05cec35eace50481762f731a

[2016-05-30 15:22] casperisfine commented on #580
I'll assume this is solved. Feel free to re-open if you have further questions.

[2016-05-30 15:22] #580 closed

[2016-06-02 13:22] Darep opened #584 "Deploy key for uppercase'd repo doesn't work"
I think this is a bug with GitHub, but if someone happens to run into this with shipit, at least there's now a record of it :) So this is basically a FYI

If you add a repo with uppercase letters in its name to shipit, plus use a GitHub [deploy key](https://developer.github.com/guides/managing-deploy-keys/) for authentication, the git clone during a deploy won't be able to find the repo.

Using a

[2016-06-02 15:27] casperisfine commented on #584
Thanks a lot for that heads-up.

TBH I'm not entirely satisfied with the downcasing. It's a shortcut we took in the early days to implement case-insensitivity in the database. A cleaner way would be to rely on the database itself for that, but since we want to support MySQL, Postgres and SQLite, it makes it a bit harder.

But ultimately, a fix on GitHub's side would be great as well. cc @arthurnn

[2016-06-02 16:37] Darep commented on #584
No worries! Luckily there was a workaround for this :) Yeah, shipit supporting uppercase letters would be nice, it's a bit funny to have different repo names on shipit, especially if you don't have dashes, e.g. `HiGoogleFonts` turns into `higooglefonts`, hehe

[2016-06-15 17:30] sgringwe opened #587 "Documentation on API Usage"
We are interested in adding some slack integrations for certain features like locking stacks. I saw that there is some Api controllers, but it wasn't clear to me the correct way to be using them or if they are supposed to be used for integrations or of they are internal. Is there any documentation on using the shipit API? Would creating an ApiClient and using the token be good use of the api contr

[2016-06-15 17:36] casperisfine commented on #587
Yes they are

Not at the moment, but it's something I must do. If it can help, the API aim to be relatively similar to GitHub's, at least on the general principles.

Yes, it is how it works.

If it can help you, here's a code snippet we use in our Slack bot to integrate with shipit: https://gist.github.com/casperisfine/01852aee110231f9cc674f147a86233b

[2016-06-15 18:00] sgringwe commented on #587
@casperisfine awesome, much appreciated! Thanks for the quick reply

[2016-06-16 09:33] teu opened #588 "Deployment without SPoF"
Hi,

any thoughts on deploying shipit on multiple machines? As shipit is not stateless, what would be necessary to ensure that we could run shipit on multiple boxes via load balancer?

Thanks

[2016-06-16 12:19] byroot commented on #588
You shouldn't have any problem running Shipit on two hosts at the same time. If you do, please report it I'll fix the issue.

It actually is.

[2016-06-16 13:51] #588 closed

[2016-06-17 13:00] teu commented on #588
Excellent news. Thanks @byroot !

[2016-07-06 16:49] Kallin opened #589 "sidekiq running out of memory"
Not sure if this is an issue with the backgroup job implementation on this project but I thought I'd see if anyone else is encountering this issue.

I'm running a shipit-based app in a docker-compose environment w/ latest ruby (2.3), and the the sidekiq process keeps running out of memory 'bundle exec sidekiq -C config/sidekiq.yml' I'm looking into it, and every time a new job is started 'refresh

[2016-07-07 07:09] byroot commented on #589
Interesting. Could you provide a bit more details? How much memory does it use after boot, and then after each job?

I'll see if our shipit deployment suffer from the same leak when I get back from vacation on monday.

[2016-07-11 09:21] casperisfine commented on #589
So it seems that I can observe the problem on our own deployment. After running for about 3 days, Sidekiq workers consume twice as much RAM than the Puma servers (298-515M vs 191-238).

[2016-07-11 14:19] Kallin commented on #589
Turns out it was a bug in my own application code; was using github.auto_paginate in one job, and that was causing the existing githubsync job to pull down every commit in the repository as they shared the Octokit::Client via Shipit.github_api. Using a separate instance of Octokit::Client for the auto_paginate based job cleared things up.

[2016-07-11 14:21] casperisfine commented on #589
Good to know. I'll still take a look a bit later, because those numbers I saw are intriguing.

[2016-07-20 16:03] alexcameron89 opened #594 "Docs: Setting up Application in Github"
I'm having issues setting up my application, specifically the callback URL in GitHub. Is there a specific URL that I should set it to? I'll be happy to send a PR with basic instructions on GitHub App setup for people who haven't set one up before.

### Github Settings
**Homepage URL**: [http://ak-shipit.herokuapp.com/](http://ak-shipit.herokuapp.com/)
**Authorization callback URL**: [http://ak-shi

[2016-07-20 17:55] byroot commented on #594
Good point, the doc isn't very clear. It should be https://yourdomain/github/auth/github/callback

[2016-07-21 13:37] alexcameron89 commented on #594
Thanks! That worked.

[2016-07-21 14:27] #594 closed

[2016-08-08 17:22] pollosp opened #597 "Shipit crash if github commit message contains an emoji"
If your message commit in github has an utf8mb4 emoji shipit sidekiq worker crash with an error like this:
[code]
`<U+1F916>` is character  🤖 .

We have 'fixed' this behavior modifying the model related with the commit `app/model/commit.rb` and replacing `message: commit.commit.message,` with `message: commit.commit.message.each_char.select{|c| c.bytes.count < 4 }.join(''),`  which clean utf8mb4 c

[2016-08-08 17:40] gmalette commented on #597
The host application is responsible for the database config, so you can configure your `database.yml` before creating the tables.

[code]

I agree that Shipit should enforce that however.

[2016-08-08 18:03] pollosp commented on #597
@gmalette it was our first approach and totally agree that shipit should take this into account to make this software even better than now :).

We have added encoding and migration into the YML and ran a `db:migrate` and even we ran `db:drop` and `db:migrate`
But we are running it on mysql 5.5 and unfortunately it didn't work because the indexes were only 767 bytes long by default, we try to make

[2016-08-08 18:08] gmalette commented on #597
Gotcha! That's why we'll need to make sure Shipit handles it. Thanks :)

[2016-08-09 08:51] casperisfine commented on #597
We run shipit with uft8m4 at Shopify, so all indexed columns are sized properly so that it works.

Now maybe because some columns are reduced in later migrations it might not work if you run `db:migrate` from scratch. I'll check that out.

[2016-08-09 08:52] casperisfine commented on #597
Also 👋 @orenmazor

[2016-08-09 09:05] casperisfine commented on #597
Ok, so I just did a fresh install to be sure and I ran `bin/rake db:create db:migrate`.

The resulting tables are `utf8mb4`:

[code]

I'm using MySQL 5.7 but the index size limit is still 767 bytes so that must not be it.

@pollosp if you can provide reproduction step for a new project form scratch that would be very helpful.

Also if it can help you, here's the migration I used about a year ago t

[2016-08-09 09:20] josacar commented on #597
Running `rake db:drop db:create db:migrate`:

[code]

[2016-08-09 09:22] casperisfine commented on #597
Weird. It fails during the `create_baseline`, which is logic in a way. I'll try to repro again.

In the meantime, what version /revision of the gem are you running?

[2016-08-09 09:25] josacar commented on #597
shipit-engine (0.11.0) and MySQL 5.5

[2016-08-09 09:33] casperisfine commented on #597
Ok my bad. The MySQL documentation was misleading:
  - First it claims the limit is still 767 bytes for 5.7: http://dev.mysql.com/doc/refman/5.7/en/innodb-restrictions.html
  - But if you keep looking, you see that `5.7.7` enabled `innodb_large_prefix` by default: http://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_large_prefix

So what I'll do here, is that I'll edit the b

[2016-08-09 09:44] #597 closed

[2016-08-09 10:01] josacar commented on #597
Doesn't work for me.

One suggestion, what about keeping index small instead cropping column size?

This is what I mean:

https://github.com/Shopify/shipit-engine/compare/master...peertransfer:reduce-size-indexes

[2016-08-09 10:15] casperisfine commented on #597
Hum. I must have forgotten some fields. What you suggest is indeed a possibility, but a while ago I already cropped column size, so might as well stay consistent.

[2016-08-09 10:29] casperisfine commented on #597
Ok so I did totally forget one of the migrations. I just pushed on master: https://github.com/Shopify/shipit-engine/commit/820716d2fc6640e366f0153fb8df78ba167c175b

This time I installed MySQL 5.5 to test, it works just fine (I was lazy before sorry :/)

[2016-08-09 10:39] josacar commented on #597
Great. Working fine.

Thanks a lot!

[2016-08-09 12:49] pollosp commented on #597
Thanks guys :)

[2016-08-09 13:23] josacar opened #599 "Not detecting git release versions"
With a no git release like `2.8.0.rc3` shipit crashes:

[code]

[code]

[2016-08-09 13:25] casperisfine commented on #599
Shouldn't be hard to fix. Hold on.

[2016-08-09 13:26] josacar commented on #599
Maybe this could solve it ``` `git --version` =~ /(\d+\.\d+\.\d+)/```

[2016-08-09 13:32] casperisfine commented on #599
That is what I'm currently committing :)

[2016-08-09 13:33] #599 closed

[2016-08-09 13:34] casperisfine commented on #599
I just pushed the fix.

[2016-08-09 13:35] josacar commented on #599
Thanks a lot 🍻

[2016-08-30 09:57] arbaaz commented on #587
@casperisfine Is it still working?

[2016-08-30 09:58] casperisfine commented on #587
The API? Yes of course.

[2016-08-30 10:00] arbaaz commented on #587
Yes, The API.

[2016-08-30 10:03] arbaaz commented on #587
I've generated the token from rails console. I'm trying to trigger deployment using postman.
I have added all the permissions to the ApiClient.

Getting this error: <h1>The change you wanted was rejected.</h1>.

[2016-08-30 10:07] casperisfine commented on #587
That isn't enough information to help you debug your problem. I have no idea what kind of request postman did.

All I can tell you is that the deploy API is working just fine. Here's the kind of requests it expects:

[code]

Looks at the API response. It should tell you why it was rejected.

[2016-08-30 10:25] arbaaz commented on #587
`trigger_deploy('owner/repo/env', sha , as:'arbaaz')` works

@casperisfine Thank you.

[2016-08-30 11:15] arbaaz commented on #587
@casperisfine How do you create `shipit_token`?

I had to generate it from rails console.
[code]
This token is used to authenticate http://shipit.example.com/api

[2016-08-30 11:42] casperisfine commented on #587
That is the only way for now.

[2016-09-21 11:31] byroot commented on #450
Fixed in https://github.com/Shopify/shipit-engine/pull/605

[2016-09-21 11:31] #450 closed

[2016-09-22 18:14] arbaaz opened #607 "Continuous deployment is not working as expected"
If I merge something to master, I expect shipit to deploy it but the deployment is not proper.

I think, it is using git cache.

I have to manually clear git cache from settings and redeploy.

[2016-09-22 22:01] byroot commented on #607
Could you be more specific? What makes the deployment not proper?

[2016-09-23 17:02] arbaaz commented on #607
For heroku deployment,

I had `git push heroku master` in `deploy.overide` which was not deploying the app on heroku.

I changed it to `git push heroku +HEAD:master`. It started working as expected.

[2016-09-23 17:02] #607 closed

[2016-09-23 17:03] arbaaz commented on #607
@byroot Thank you for the quick reply. Appreciate it.

[2016-09-23 17:18] dwradcliffe commented on #607
@arbaaz To deploy to heroku, there's a nice shortcut that works well for us:

[code]

[2016-09-23 17:23] arbaaz commented on #607
@dwradcliffe Thanks man!

[2016-09-23 17:56] arbaaz commented on #607
@dwradcliffe: How would you deal with this?
[code]

[2016-10-02 02:18] sgringwe opened #609 "Checklist CSS Issue"
The checklist on the pre-deploy page is inter-twined wit hthe pre-deploy status checks box. This issue began happening after upgrading to `08c5142`  (0.12.1) from `c32dbb3`.

[2016-10-02 23:08] bspellio opened #610 "Reveal Shipit's authentication to outside of the engine"
The use case:

I'm currently working on an application which includes both the Shipit engine and other endpoints/functionality not related to Shipit. Users of this "other functionality" should still be authenticated and it would be convenient to use the authentication system has already built into Shipit.

An example `routes.rb` with a proposed interface, inspired by devise:

[code]

This API also

[2016-10-02 23:29] bspellio opened #611 "Reveal a stack's commits in the api"
Is there a reason the endpoint `/api/stacks/<stack_id>/commits` doesn't exist?

It would be awesome to have an index of commits and to be able to do basic filtering on them i.e. deployed vs. not deployed.

Thoughts on this? Definitely would be up to put together a PR for this if there's some interest.

[2016-10-02 23:30] byroot commented on #611
A PR would be welcome.

[2016-10-02 23:32] byroot commented on #610
I wouldn't be opposed to such feature. But I have to admit I'm not sure how I'd go about implementing it.

But if you say Devise does it I can take a look.

[2016-10-02 23:40] byroot commented on #610
Alternatively, would including a module in your controllers be ok?

I understand you don't want to have to inherit from `Shipit::ShipitController`, but if you could just include `Shipit::Authentication` would that work for you?

[2016-10-02 23:56] bspellio commented on #610
Hmm I'm not sure I follow, that sounds like a great solution, but I can't seem to find the module `Shipit::Authentication`?

[2016-10-03 00:06] byroot commented on #610
It doesn't exist yet, but It could. That's why I'm asking if that would be a satisfactory solution for you?

[2016-10-03 00:22] bspellio commented on #610
Ah okay I see, then yes, this seems like a great solution.

[2016-10-03 13:05] #609 closed

[2016-10-03 13:05] casperisfine commented on #609
Thank you for the bug report.

[2016-10-03 13:13] #610 closed

[2016-10-03 13:13] casperisfine commented on #610
Done. Let me know if you have any issue with it.

[2016-10-03 13:42] #611 closed

[2016-10-03 13:43] casperisfine commented on #611
I implemented a very basic version of that endpoint. Feel free to submit PRs if you want it to have more features.

[2016-10-03 13:46] bspellio commented on #611
Wow that's great! Thank you.

[2016-10-03 22:16] btgaffor commented on #364
@byroot Is there any documentation for how to set up hooks in the current state, without a UI? I haven't been able to find anything.

[2016-10-03 22:38] byroot commented on #364
I'm afraid there is no documentation. The simplest way right now is via the Rails console:

[code]

You can see the list of available events there: https://github.com/Shopify/shipit-engine/blob/2e9010e1ab3e9a5e5277bd2d0efea4a692980407/app/models/shipit/hook.rb#L10-L19

And you can also subscribe only to the events of a specific stack by filling the `stack:` property.

Hope it helps.

[2016-10-04 00:08] btgaffor commented on #364
Thanks, that's what I was looking for.

[2016-10-11 14:44] pollosp opened #612 "Unicorn timeout sending subscription event"
I'm getting this timeout when I have the application open in the browser, looks like unicorn is trying to send something to the browser but it doesn't reach it.

[code]

Any idea?

[2016-10-11 14:56] casperisfine commented on #612
Unicorn isn't a suitable server for long lived connections. It is totally possible to use it for the Rails part of Shipit, but then you'll have to host the Pubsubstub server separately as a standalone Rack application and using puma and configure your reverse proxy (Apache / nginx) to route this endpoint to it.

There is a bit more information about all that in Pubsubstub's README: https://github.

[2016-11-07 22:44] sgringwe opened #615 "Add a CHANGELOG"
Is there any plans to add a Changelog? There are a lot of great improvements going into this project, but it can be hard to follow what they are.

[2016-11-08 08:14] casperisfine commented on #615
That would be good indeed. I'll consider it but no promises.

[2016-11-14 15:53] casperisfine commented on #615
Ok, I started a CHANGELOG https://github.com/Shopify/shipit-engine/blob/master/CHANGELOG.md

[2016-11-14 15:53] #615 closed

[2016-11-15 10:41] casperisfine commented on #348
This was fixed a while ago.

[2016-11-15 10:41] #348 closed

[2016-11-15 14:25] Eyjafjallajokull opened #617 "No timezone support"
Option in config to set timezone would be a blessing. 👼

[2016-11-15 17:04] casperisfine commented on #617
You mean globally or per user?

[2016-12-01 10:59] pollosp opened #624 "Wrong documentation?"
Setting up the github oauth callback we had a problem, in the example you have in https://github.com/Shopify/shipit-engine/blob/master/config/secrets.development.shopify.yml#L10 you are adding `# Set the "Authorization callback URL as <host>/github/auth/github/callback`.
But at least from version 0.12.1 https://github.com/Shopify/shipit-engine/blob/master/config/routes.rb#L47  it is `Authorization

[2016-12-01 11:12] casperisfine commented on #624
Hum, I don't understand, the 2 paths you posted and linked matches.

[2016-12-01 11:38] pollosp commented on #624
This `/github/auth/github/callback` didn't match in my shipit deployment only `/github/auth/github` I will check it again maybe i did something wrong, thanks for your quick answer :)

[2016-12-01 11:39] casperisfine commented on #624
<img width="475" alt="capture d ecran 2016-12-01 a 12 12 35" src="https://cloud.githubusercontent.com/assets/19192189/20792624/284035cc-b7c3-11e6-973a-199cff68063a.png">

This have been working since ages ^

[2016-12-01 11:45] pollosp commented on #624
Weird this is my experience:

![shipit](https://cloud.githubusercontent.com/assets/1783343/20792781/0024bdf0-b7c4-11e6-936d-cc5f1a9afece.gif)

[2016-12-01 11:48] casperisfine commented on #624
You can't go directly on `/callback`. It's GitHub that redirect you there at the end of the OAuth flow.

If you look into your browser dev tools. you'll see that when you go to `/github/auth/github` you are then redirected to `github.com`, then `/github/auth/github/callback` and finally to `/`.

See: https://developer.github.com/v3/oauth/

[2016-12-01 11:48] #624 closed

[2016-12-01 11:51] pollosp commented on #624
👍

[2016-12-01 16:09] edward commented on #347
Please yes still relevant

[2016-12-01 21:06] GoodForOneFare opened #625 "npm/yarn publish support"
The UI Dev Acceleration team would like to automate publication of our npm packages.  Stuff we'd like to see:

* Automatically publish to npm repositories when a package is version bumped
* Run prepublish scripts
* Distinguish between private/public packages and publish to the relevant registry

Things devs still have to handle:
* Version bumps
* Version tagging

Out of scope:
* Monorepos (i.e., w

[2016-12-02 13:34] casperisfine commented on #625
So according to https://docs.npmjs.com/getting-started/publishing-npm-packages besides calling `npm publish` you need:

  - Credentials, via `npm adduser` / `npm login`, this is up to the installation of shipit to have this available.

 No in term of Shipit-engine:

  - > Run prepublish scripts

     Shouldn't be a problem, as long as there is some kind of convention for this.
  - > Distinguish be

[2016-12-02 14:34] GoodForOneFare commented on #625
@casperisfine scripts are just bash scripts stored a package's `package.json` file (e.g., [a prepublish hook](https://github.com/Shopify/decaf/blob/master/package.json#L21))  You can run them via `npm run script_name`.

Public/private is also defined in `package.json`.  A private package [is flagged by adding`"private": true`, and providing a `publishConfig`](https://docs.npmjs.com/files/package.j

[2016-12-02 15:11] casperisfine commented on #625
Ok, so assuming you have credentials available on the Shipit machine, then all it takes to publish npm packages is:

[code]

We can eventually make Shipit detect that a repo is a npm package, and automatically run `npm publish`, in the end it would be:

[code]

[2016-12-02 17:18] GoodForOneFare commented on #625
After discussion, the UI Dev Acceleration team will focus on splitting up its monorepo, and adding `shipit.yml` files to each JS package.  With those in place, anyone will be able to deploy our JS stacks via shipit.

Autopublishing on version bumps is still wanted, but it can wait until the above groundwork is complete.

[2017-01-09 14:47] bspellio opened #629 "What is the correct way to access API Tokens?"
I'm currently writing a CLI to interact the Shipit's API and I am curious what the intended way to access/generate API tokens is?

My current solution was to manually generate one in the rails console, but this feels a bit hackish. Is there another way, I was unable to find one by looking at the application code.

[2017-01-09 14:48] casperisfine commented on #629
It's definitely hackish. I'd like to have a UI to do it, but it's not done yet, and there isn't anyone working on it really.

I'm afraid Rails console is the current official way to generate an API client :/

[2017-01-09 14:50] bspellio commented on #629
I'd be open to opening a basic PR to get the ball rolling.

Perhaps a simple form on the stack show/settings page where it allows you to generate tokens and specify the user/rights?

[2017-01-09 14:52] casperisfine commented on #629
One of the big blockers for this is user permissions.

Once the API Client is created, who should be able to see the API Token?

I guess a simple pre version could show it only to the user that created it.

Also note that ApiClients can be scoped to a single stack, but also global.

[2017-01-09 14:55] dwradcliffe commented on #629
Or only show the token immediately after generating it.

[2017-01-09 14:56] casperisfine commented on #629
That would totally works yes. Sounds good to me. @bspellio feel totally free to works on this. A PR would be absolutely welcome.

[2017-01-09 14:57] casperisfine commented on #629
Even if it only handles scoped or global api clients.

[2017-01-09 15:23] bspellio commented on #629
I'll take a look sometime this weekend.

[2017-01-10 19:15] bspellio commented on #629
Just to follow up, how do you go about local development of Shipit at Shopify? Do you have a dummy OAuth application? I see that there's a dummy application in the `test` directory, but it's unclear if that's intended for local development.

Thank you for any insight you can provide!

[2017-01-10 19:28] byroot commented on #629
We just create a personal OAuth application for local dev. Just like for prod. We also use a personal token.

Yes you can use it for local development, see the `dev.yml`: https://github.com/Shopify/shipit-engine/blob/6be5e48aa1981d4947ef02e08be4363e92c3f09c/dev.yml#L15-L19

(dev is an internal tool, but you can still use the commands as is to get `rails s` or `rails c`).

[2017-01-16 16:20] KnVerey opened #632 "Make Kubernetes deploys a first-class citizen"
Right now, our Kubernetes deploys use an override snippet. That's okay while it's experimental, but won't be great when this is a primary deployment strategy. Currently, the `shipit.yml` for a kube app needs to look like this:

[code]

This would be much better:

[code]

@byroot
cc @Shopify/cloudplatform

[2017-01-16 17:17] KnVerey commented on #632
Two caveats related to the WIP nature of our k8s deploys:
* We may also want a third, optional key: `template_dir`. That value is provided as an env override in the current script. The caveat on this is that we're still working out our multi-env template strategy. For example, we may add more sophisticated rendering and have a single directory + `production.yml`, `staging.yml` etc. instead of a di

[2017-01-16 18:07] dwradcliffe commented on #632
for production vs staging, the pattern is a separate shipit.yml

[2017-01-16 18:50] KnVerey commented on #632
Yes, totally. The complication with core is that you also have "pod1 production" vs "pod2 production", which should be deployed to separate namespaces at the same time with a single button click. (Or such was the plan last I heard.)

[2017-01-16 18:51] dwradcliffe commented on #632
cool, yep. 👍

[2017-01-17 20:41] #632 closed

[2017-01-19 15:17] GoodForOneFare commented on #625
Initial support added in https://github.com/Shopify/shipit-engine/pull/631.

[2017-01-19 15:17] #625 closed

[2017-01-19 16:16] GoodForOneFare opened #637 "Yarn support"
If a repo contains a `package.json` that indicates a public package _and_  a `yarn.lock` file exists, use `yarn` to install/deploy the package.

[2017-01-23 18:15] #637 closed

[2017-02-21 16:44] DazWorrall commented on #347
Rev 1 of this is on the way: #659

[2017-02-22 10:20] DazWorrall commented on #347
@edward @davidcornu @gmalette this has been deployed, you can get the URL from a stack's settings page - give it a try and let us know what you think.

[2017-02-22 12:06] casperisfine commented on #612
I think the problem was answered, closing.

[2017-02-22 12:06] #612 closed

[2017-02-22 16:56] edward commented on #347
@DazWorrall here’s the error that I’m running into:

![image](https://cloud.githubusercontent.com/assets/325/23222435/dd41f79e-f8f5-11e6-81ca-6541c648d3a6.png)

[2017-02-22 16:57] DazWorrall commented on #347
@edward you have to pick 'Use URL as entered above' - does that work?

[2017-02-23 15:53] edward commented on #347
That’s it! SO NICE THANK YOU

I’ll make a PR for being more descriptive with CCMenu setup.

[2017-02-23 15:53] #347 closed

[2017-02-23 17:01] DazWorrall commented on #347
@edward do give us some feedback after you've used it for a little while, hopefully it behaves as you expect :)

[2017-02-24 00:26] rafaelfranca opened #665 "Auto merge queue got stuck after it was lock for some time"
When we had a lock for more than 30 minutes the auto merge queue stoped to work. I had to clean all the PRs and add back to it be able to work again.

[2017-02-24 11:18] casperisfine commented on #665
Unfortunately I'm afraid I don't have enough information to know what might have happened.

There is several reasons why Shipit might not merge a PR after the lock is removed:
  - Master is failing.
  - Master is backlogged (too many undeployed commits).
  - Your PR stayed too long in the queue, and need to be reconfirmed.

However based on the chat logs, none of those reasons seem likely. Hopeful

[2017-02-24 15:05] rafaelfranca commented on #665
👍. One thing that I noticed is that there was some PRs in the queue before mine and when the person tried to reconfirm something exploded. @TempestMia may have some information about that case.

[2017-02-24 15:06] casperisfine commented on #665
That was a bug in our chat bot, but was localized to it. The actual API request to Shipit to confirm was successful.

[2017-02-24 15:45] edward commented on #347
Looks great so far!

On Thu, Feb 23, 2017 at 12:01 PM, Darren Worrall <notifications@github.com>
wrote:

[2017-03-06 22:38] tjoyal opened #670 "Rollback could be less confusing"
In moment of crisis, sometimes there is a need to rollback some code.

<img width="1134" alt="main" src="https://cloud.githubusercontent.com/assets/207902/23633264/fb90a3e6-02bc-11e7-8211-ac1f415bfa13.png">

When hitting rollback to this deploy, the user is redirected to the rollback confirmation page that contain what I find confusing information:

<img width="1117" alt="rollback-confirmation" sr

[2017-03-07 10:08] casperisfine commented on #670
What about replacing `Commits included in the rollback` by `Commits that will be rolled back`?

[2017-03-07 12:26] tjoyal commented on #670
I would be ok with it. Seems like something that will remove most of the confusion with minimal effort.

I think there is also value to add info as to "the target" where we are rolling back, but just the current caption change would be a great start.

[2017-03-07 12:36] casperisfine commented on #670
the target?

[2017-03-07 14:25] tjoyal commented on #670
target: "rollback to this deploy"

[2017-03-07 14:29] casperisfine commented on #670
This "target" as you call it have been subject to a lot of bikeshedding over the years, and this is what everybody settled on. I really don't want to trigger that bikeshedding again as I almost rage quit from it.

[2017-03-07 14:34] tjoyal commented on #670
Alright, no problem. I'm more than happy to settle on your proposition if it is all right?

I'm I crazy to find it confusing in the fist place? I'll be happy to keep it as-is if I'm the only one.

[2017-03-07 14:40] casperisfine commented on #670
It's perfectly understandable IMO, but I'm no UX expert.

In any case, feel free to submit a PR to close this issue.

[2017-03-07 16:36] #670 closed

[2017-03-10 14:38] casperisfine commented on #665
I believe I identified the problem.

Step to reproduce:
  - Lock the stack
  - Add a few PRs to the queue
  - Manually merge the first one in the queue
  - Unlock the stack

[2017-03-13 11:21] #665 closed

[2017-03-21 09:37] #270 closed

[2017-03-22 15:37] szemek opened #680 "Inefficient stack.destroy!"
Today with colleague we came across an issue:
[code]
after trying to delete a stack.
In our production environment we deploy quite frequently. In database we had more than 350 thousand of all records related to that stack.

As I checked, simple `destroy!` is performed and `destroy` is called on dependent records
[app/jobs/shipit/destroy_stack_job.rb](https://github.com/Shopify/shipit-engine/blob/1

[2017-03-22 15:40] casperisfine commented on #680
I've hit that issue a couple times too. A pull request would be most welcome.

I think what you could do is:
  - First "soft delete" the stack.
  - Then trigger a background job that would delete the stack in several batches.

One thing to worry about is that there is a unicity constraint on `org/repo/env`, so while the stack is being deleted, a similar one can't be created. Not sure if it's reall

[2017-03-22 23:19] szemek commented on #680
@casperisfine I prepared pull request with proof of concept. Let me know what do you think.

[2017-03-23 12:08] #680 closed

[2017-04-03 22:23] xLegoz opened #684 "Shipit fails to respect HTTPS as an outbound redirect_uri"
I currently have Shipit set up behind Cloudflare's HTTPS, with HTTP redirecting and HSTS. I'm unsure if this was caused by a recent upgrade I did to Shipit or just changing the Github auth callback without remembering. Currently
`.env`
[code]
`Github authorization callback setting`
[code]

And this causes as `redirect_uri_mismatch` due to Github being told to redirect to `http`and not `https`. The

[2017-04-04 06:58] byroot commented on #684
So I might be wrong, but from you description it sounds like the request from cloudflare to your server is in HTTP, and that the `X-Forwarded-Proto` header is either not sent of not taken into account.

Do you have an nginx between your cloudflare and shipit? If so you have to tell it to trust that header when it comes from CloudFlare.

Also I suggest you set `config.force_ssl = true` in your Rail

[2017-04-04 06:58] #684 closed

[2017-04-06 22:56] sgringwe opened #685 "Preventing duplicate deploys"
Is there anything to prevent duplicate deploys? I know I've seen warning messages in the UI if about to do so, but is there anything to actually prevent the same stack being deployed at the same time?

Sorry if I missed it! Couldn't find anything in the docs or in some basic code search.

[2017-04-06 23:00] byroot commented on #685
Yes. If you attempt to deploy while there is an active deploy on the way, you'll be taken back to the deploy page and asked to acknowledge you want to deploy concurrently (hint most likely you won't).

Line of code wise it's this: https://github.com/Shopify/shipit-engine/blob/1217e7d04b686ec0f2d7b354b83cbfd0e4ad8757/app/controllers/shipit/deploys_controller.rb#L23

Technically, a race condition is

[2017-04-07 00:51] #685 closed

[2017-04-07 23:21] jhuangtw-dev opened #686 "is it possible to upgrade faraday-http-cache gem"
to say 1.3.x

[2017-04-10 09:21] casperisfine commented on #686
Should be possible yes. PR welcome.

[2017-04-11 04:11] #686 closed

[2017-04-11 04:11] jhuangtw-dev commented on #686
(ended up going a different route for the dependency issue i was running into)

[2017-04-15 10:12] szemek opened #688 "rake teams:fetch doesn't remove users"
Hi,
please correct me if I am wrong but as far as I checked code
https://github.com/Shopify/shipit-engine/blob/master/lib/tasks/teams.rake#L11-L12
https://github.com/Shopify/shipit-engine/blob/master/app/models/shipit/team.rb#L55-L60
and it seems to me that `rake teams:fetch` can only add new users.
I'd like to, in a single rake task, conveniently remove users that are no longer in a team.
What do

[2017-04-15 10:50] byroot commented on #688
The code you linked to does remove users that are no longer part of a team. There might be a bug, but at first sight it already does what you are asking.

If you have evidence that it doesn't work, then feel free to PR either a failing test case, or a full fix.

[2017-04-15 13:17] szemek commented on #688
Thanks for checking, and sorry for this issue. I should have slept longer today 😪
You're right, membership of user is removed, when user doesn't belong to team anymore.
Nonetheless records for `Shipit::User` model will stay in database, but for my needs it doesn't matter.

[2017-04-15 13:17] #688 closed

[2017-04-15 14:24] byroot commented on #688
Yes but it's on purpose. They are likely to be commit or deploy authors, so there is no reason to delete them from the database.

[2017-04-20 18:46] GoodForOneFare opened #689 "Publishing scoped+public npm packages"
By default, `npm` publishes scoped modules (e.g., `@shopify/polaris`) as private.  Even if `package.json` says it's public.

Shipit should publish with the `--access public` flag.

cc @Shopify/front-end-tooling

[2017-04-24 15:24] ismail-syed commented on #689
@GoodForOneFare
Is [this](https://github.com/Shopify/shipit-engine/blob/7cc062e68785a6c5555d59063f816d1e80dbc468/app/models/shipit/deploy_spec/npm_discovery.rb#L66) what we need to update?

`npm publish --access public`

[2017-04-24 16:14] GoodForOneFare commented on #689
Yep.

Note that shipit should *not* attempt to publish with `--access public` if `package.json` specifies `private: true` (I think this is already implemented, but can't check right now).

[2017-05-07 18:00] dwradcliffe commented on #448
This was fixed a while ago.

[2017-05-07 18:00] #448 closed

[2017-05-08 13:00] dwradcliffe opened #694 "TypeError when I try to deploy using 0.18.0"
I just upgraded to 0.18.0 and I'm getting this error when I try to deploy anything:

[code]

@byroot

[2017-05-09 09:55] casperisfine commented on #694
So this breaks on: `PTY.spawn(@env, *interpolated_arguments, chdir: @chdir)`.

It mean that any of `@env`, `@chdir`, or a member of `interpolated_arguments` is a Symbol.

  - [`@chdir` is casted to string in the constructor no matter what](https://github.com/Shopify/shipit-engine/blob/4b36f5febe357ef05bff6b87a854252c99d94783/lib/shipit/command.rb#L22)
  - [`@env` is basically `Shipit.env`](https:/

[2017-05-09 12:44] dwradcliffe commented on #694
`got: env={"SHIPIT"=>"1", :HOME=>"/applications/shipit/"}, args="test", "-d", "/applications/shipit/releases/20170507182058/data/stacks/rubygems/rubygems.org/staging/git/.git", chdir="/applications/shipit/releases/20170507182058/data/stacks/rubygems/rubygems.org/staging/deploys"`

I'm guessing the `:HOME` part is the problem.

[2017-05-09 12:46] casperisfine commented on #694
Yes, it definitely is. I think Rails 5.1 has symbol as keys for `Rails.application.secrets`. That will be simple enough to fix. Not sure why it wasn't a problem for Shopify's deployment.

[2017-05-09 12:51] #694 closed

[2017-05-09 12:52] casperisfine commented on #694
@dwradcliffe I pushed a fix to master, can you try it out. If it works for you I'll release a `0.18.1`.

[2017-05-09 12:55] dwradcliffe commented on #694
@casperisfine 👍 it works!

[2017-05-09 13:00] casperisfine commented on #694
`0.18.1` released.

[2017-05-09 13:05] dwradcliffe commented on #694
@casperisfine Thank you!!

[2017-05-18 12:09] casperisfine opened #699 "Record deploys performed in emergency mode"
Feature request by @pallan

By design Shipit tries to prevent honest mistakes, but leaves as much leeway as possible to users, so they can deal with emergencies. That is why, failing statuses prevent deploying by mistakes, but ultimately it's possible to turn on the emergency mode and deploy a failing build anyway.

However it doesn't mean there is no accountability, as such it's important to have

[2017-05-18 15:33] perobertson commented on #699
It would also be nice to have the ability for shipit to notify a slack channel on emergency deploys. That way anyone who wants to say informed can watch that channel.

[2017-05-18 15:37] casperisfine commented on #699
On that specific note, it was decided not to add any kind of messaging notification to Shipit itself a while ago.

The thing is, there is many different IM services, some people would like mail notifications as well maybe, etc, etc. It kinda feels like pandora's box from a project perspective.

That is why Shipit supports webhooks, and people wanting such feature are expected to use the webhooks i

[2017-05-18 15:46] pallan commented on #699
Another potential piece of value would be a comment(s) the user can add pre- or post-deploy to indicate why they had to perform the emergency

[2017-06-21 20:18] orenmazor commented on #699
I really like the bit about having to explain the reason for the emergency :+1:  I'm sure Ulf the time it'll be "Fuuuuuuuu" or "fuck _______ remote tests" but still worth having.

Re: notifications. I'd be pretty happy even if there was a FORCED_DEPLOY=1 env variable available to scripts.

[2017-06-21 20:19] byroot commented on #699
Very good idea.

[2017-06-23 00:14] bspellio opened #705 "ArgumentError (key must be 32 bytes) with Ruby 2.4.1"
**Shipit Version:** `0.18.1`
**Ruby Version:** `ruby 2.4.1p111`

**Context**
While upgrading from Shipit `v0.14.0` to `v0.18.1` I encountered the following error when visiting the root of the engine. I believe this has to do with the fact that the keys are not being truncated to 32 bytes, which before Ruby 2.4 wasn't an issue, I've noticed in the `dev.yml` you're using `v2.2.x`.

They had a compar

[2017-06-23 08:10] byroot commented on #705
I don't think it's due to 2.4, even though I haven't tested it yet.

IIRC in v0.14.0 we were using an older version of `attr_encrypted`, and it now requires a longer key.

I'd say just put a print here: https://github.com/Shopify/shipit-engine/blob/7672980c26a5d96383fc44b1382794aeb8eb3490/app/models/shipit/user.rb#L11 to check how long your key is. I'm pretty sure `attr_encrypted` requires at leas

[2017-06-23 16:44] bspellio commented on #705
Hmm based on some digging I think it's related to this addition to ruby: https://github.com/ruby/ruby/commit/ce635262f53b760284d56bb1027baebaaec175d1

More discussion can be related to `attr_encrypted` and `encryptor` can be seen here: https://github.com/attr-encrypted/encryptor/issues/26

[2017-06-23 18:09] byroot commented on #705
Interesting, you were right then :)

I'll dig into this on monday unless you submit a PR first.

[2017-06-28 08:48] casperisfine commented on #705
Fixed in https://github.com/Shopify/shipit-engine/pull/706

[2017-06-28 08:48] #705 closed

[2017-06-28 15:40] jarthorn opened #707 "Prevent deploys that split commit-revert pairs"
We had an incident with the following sequence of events:

1) A bad code change was committed to master, and deployed by Shipit
2) Shipit was locked and the revert was committed to master
3) Decision was taken to rollback instead to avoid waiting on CI for revert
4) After the rollback, Shipit was unlocked, with rationale that the revert was already in master
5) Shipit selected a batch to deploy, w

[2017-06-28 15:51] casperisfine commented on #707
We already do that. When you push a revert, all commits between the revert and the reverted one are automatically locked.

But it only search for the source commit up to the previous deploy, that is likely why the lock didn't happen in your case.

Seems simple enough to fix. We can extend the search a little bit further.

[2017-06-28 20:19] gmalette commented on #707
Yeah there had been 2 deploys between the offending merge and it's revert.
Before the revert went in, I also manually locked every commit in the deploy backlog.

[2017-06-30 08:53] #699 closed

[2017-06-30 13:45] #707 closed

[2017-08-22 20:04] kulte opened #716 "So this is totally broken now, right?"
I get this error basically all the time:

![screen shot 2017-08-22 at 4 03 43 pm](https://user-images.githubusercontent.com/633289/29584988-807e9016-8753-11e7-9081-9887fdccee1d.png)

Is it safe to call this piece of software abandonware? Just don't want to invest any more time in an unmaintained, broken solution.

[2017-08-22 20:19] rafaelfranca commented on #716
It is not. This project is maintained and we use in production every single day hundreds of time. It seems you found a bug in the state_machines gem in your application. What is the content of Gemfile.lock of your application?

[2017-08-22 21:35] byroot commented on #716
Make sure `state_machines-activerecord` is at version `0.5.0`, I think the error you got happens if you get `state_machines = 0.5.0` and `state_machines-activerecord < 0.5.0`.

If it's indeed that, we can force it in the gemspec to avoid other people running into this in the future.

[2017-08-22 22:40] rafaelfranca commented on #716
Ok. Just for the image you posted I already know what is happening.

You are using the shipit-engine 0.19.0 that is the latest release. While that version has correct code, one of our dependencies `state_machines-activerecord` is locked to the version 0.4.x but its dependency `state_machines` is not locked to the 0.4.x series.

When you installed `shipit-engine` in your application you got `state_

[2017-08-22 22:40] #716 closed

[2017-08-23 16:51] alexcurtin opened #717 "Could not find table 'Users'"
I have setup shipit with all defaults and ran rake db:create and db:setup and am hitting this active record issue after github auth to localhost:300 any ideas?

def table_structure(table_name)
          structure = exec_query("PRAGMA table_info(#{quote_table_name(table_name)})", "SCHEMA")
          raise(ActiveRecord::StatementInvalid, "Could not find table '#{table_name}'") if structure.empty?

[2017-08-23 16:57] rafaelfranca commented on #717
Have you run `rake shipit:install:migrations` before `rake db:setup`?

[2017-08-23 17:01] alexcurtin commented on #717
Thanks @rafaelfranca now I cannot get the migrations to pass, tried both sqlite3 and postgres.

hipit master ✗ rake db:migrate                                                                            ⎈  minikube ☁  continuous-integration-172919
Running via Spring preloader in process 68374
== 20170823165768 ConvertStiColumns: migrating ================================
rake aborted!
StandardError

[2017-08-23 17:04] rafaelfranca commented on #717
See https://github.com/Shopify/shipit-engine/issues/716#issuecomment-324171709

[2017-08-23 17:10] alexcurtin commented on #717
@rafaelfranca Awesome man thanks. Its up and running now. Do you guys have a video tutorial or walk through in addition to the docs on this repo? That would be super useful to have a /demo folder or tutorial video. I'll try to follow the docs closely.

[2017-08-23 17:15] rafaelfranca commented on #717
Glad it is working! We don't have any video tutorial or demo app, right now the docs on this repo is the only source of documentation.

I'm closing this issue now since it seems solved, but feel free to open new issues if you find something broken.

Thank you for using this project ❤️

[2017-08-23 17:15] #717 closed

[2017-08-25 15:43] wvanbergen opened #719 "Allow PRs to be added to the merge queue when they still have pending statuses"
Right now, you are not allowed to add PRs when some of the required CI statuses are still pending (or missing). We should make it possible to add a PR to the merge queue, but wait with merging until all required CI statuses are green.

- Other PRs should be able to be merged while the PR is still waiting for a green status, even if they are enqueued later than the PR in question.
- We should start

[2017-08-25 16:02] wvanbergen opened #720 "Allow specifying a maximum age for branches to be allowed to be added to the merge queue"
This would prevent master failures when old, outdated branches get merged, and push people to rebase instead. This should be based on the merge base of the PR.

@Shopify/pipeline thoughts?

[2017-08-25 16:11] casperisfine commented on #719
Shouldn't be too hard to implement.

I indeed got questions from people confused by their PR being ejected from the queue because statuses were pending.

If people actually want it, we can do it.

[2017-08-28 06:23] kirs commented on #720
I think this would be pretty great. I remember experiencing this myself and merging an old branch that failed on master.

[2017-08-28 16:41] bspellio commented on #720
This is a great idea. Just to clarify, this would still be "overridable" via emergency mode, correct?

[2017-08-28 16:58] wvanbergen commented on #720
Yes. Emergency mode only impacts deploying PRs on master, not the merge queue functionality.

Having said that, we may need an emergency mode for the merge queue as well eventually. For now, people can just merge their PRs by hand rather than using the merge queue.

[2017-08-31 13:31] DazWorrall opened #722 "Error deploying heroku app when new cli version available"
[code]

We should not fail for this.

[2017-09-04 09:41] #722 closed

[2017-09-06 08:55] #719 closed

[2017-09-22 14:22] wvanbergen opened #733 "Merge queue: reject enqueuing PRs if their title includes certain phrases"
We could use this to prevent merging PRs which have titles that include things like `WIP`, `DO NOT MERGE`, etc.

[2017-10-05 00:08] kaelig opened #735 "How do I `yarn tag add react-utilities@2.0.0-beta.1 beta` using Shipit?"
My use case is that I'd like to publish a beta to npm and I don't want it to be installed by default when users run `yarn add react-utilities`.

The way I'd publish a version behind a beta flag is:
- version & publish normally
- `yarn tag add react-utilities@2.0.0-beta.1 beta`

I couldn't find how to do this with Shipit - am I missing something?

[2017-10-05 14:25] casperisfine commented on #735
Wouldn't this work?

[code]

(Of course the version part would need to be dynamic, but the idea is there).

[2017-10-05 17:43] kaelig commented on #735
cc @Shopify/front-end-tooling

[2017-10-05 17:45] kaelig commented on #735
Thanks @casperisfine!

Ideally we'd be able to specify a tag at "deploy to npm"-time. This is something FED Tooling needs, so it'd be nice to have it as a default feature in Shipit.

See https://docs.npmjs.com/getting-started/using-tags for the spec of this npm feature.

[2017-10-05 17:47] casperisfine commented on #735
How would you need to specify it? Isn't that something that is committed inside the repo?

[2017-10-05 17:48] ismail-syed commented on #735
Shipit runs `npm publish` [here](https://github.com/Shopify/shipit-engine/blob/7cc062e68785a6c5555d59063f816d1e80dbc468/app/models/shipit/deploy_spec/npm_discovery.rb#L66).

We'll need something like [`npm publish --tag beta`](https://docs.npmjs.com/getting-started/using-tags).

For now, I think we can override shipit's deploy with something similar to that @casperisfine listed above:

[code]

[2017-10-05 17:49] casperisfine commented on #735
What I meant is, how should Shipit know if the `--tag beta` thing should be added or not. Is this something we can infer from the repository, or is it something that only humans can know?

[2017-10-05 17:55] ismail-syed commented on #735
Off the top of my head, a few ideas:
- Shipit could infer it's a beta release if the tag contains `beta` as a keyword. (eg. `v2.0.0-beta.1`)
- We could add a shipit settings called `beta stack`, that releases only betas from within that `stack`/`branch`

[2017-10-05 17:57] casperisfine commented on #735
The first one sounds good to me.

[2017-10-05 20:37] bdewater opened #736 "Merge queue: merge order is LIFO instead of FIFO"
For a queue I was expecting pull requests to be merged in the order their merge was requested. This doesn't seem to happen.

IMO this is also a desirable property to have because eventually the `revalidate_after` logic will kick in if a PR keeps getting pushed back in line.

[2017-10-05 20:38] casperisfine commented on #736
It's supposed to be FIFO. If it's not, it's bug.

[2017-10-05 20:49] bdewater commented on #736
It seems that for some reason the revalidation message never arrived and this caused my PR to be stuck in the queue. Other PRs were observed to be merged in FIFO order.

[2017-10-05 21:00] bdewater commented on #736
Not sure if I'm just terribly unlucky but after requeueing I noticed the behaviour again 🤔

[2017-10-06 20:03] kaelig commented on #735
I thought I'd share this override which should work for now: https://github.com/Shopify/react-utilities/pull/11/files/d0146c81d8f15130ce5297303fad5156c6a358a0#diff-b92192f38bea57b10aa4ff3a6d282b19

[2017-10-07 20:07] kaelig commented on #735
I first coded #738 to look for the `beta` pre-release flag in the version number, however I thought that it was a bit restrictive as it doesn't allow for other flags (alpha, rc…). So I rewrote the PR to publish all versions containing pre-release flags under the `next` dist-tag.

This means we could publish anything such as `1.0.0-alpha`, `1.0.0-beta`, `1.0.0-beta.1`, `1.0.0-rc.1`, `1.0.0-gm`… and

[2017-10-10 15:34] casperisfine opened #739 "Merge queue should respect protected branches."
If a PR is targeting a protected branch with either commit status or review requirements, the merge queue should enforce them.

cc @sander-m @Shopify/pipeline

[2017-10-10 15:38] sander-m commented on #739
FYI @josephmbeveridge

[2017-10-10 18:21] #735 closed

[2017-10-17 15:34] casperisfine opened #742 "Handle statuses without a target_url"
GitHub allows commit statuses not to have any `target_url` property.

Most service set ones, but sometimes they don't. When this happens, shipit naively generate a link with `href=""`, and clicking it simply reload the page which is very confusing.

We should reflect the absence of link somehow in the UI, and have the link be disabled.

cc @Edouard-chin @DazWorrall

[2017-10-19 15:05] #742 closed

[2017-11-01 12:37] skylerto opened #747 "Repo description link dead"
Link in the repo description 404s.

[2017-11-01 12:39] casperisfine commented on #747
I updated the link. Thanks for the heads up.

[2017-11-01 12:39] #747 closed

[2017-11-06 14:53] lugray opened #748 "Reject PRs with conflicts"
If a PR in the merge queue has conflicts with master, it shouldn't sit there silently, it should be removed from the merge queue, and the author notified.

[2017-11-06 14:54] DazWorrall opened #749 "Merge queue doesn't handle new CI status requirements"
* Master says status `ci/one` is required. Some change is made on a `branch1`, the CI goes green but it isn't yet merged
* `ci/two` is added as a requirement on master
* `branch1` is added to the merge queue, but never merges

`MergePullRequestsJob` [skips over](https://github.com/Shopify/shipit-engine/blob/d15c95097524efc537a53d3ab8ee6b6c9b653d68/app/jobs/shipit/merge_pull_requests_job.rb#L18) th

[2017-11-06 14:54] byroot commented on #748
Conflict as in merge conflict?

[2017-11-06 14:55] lugray commented on #748
Yes.

[2017-11-06 14:57] byroot commented on #748
Closing as duplicate of: https://github.com/Shopify/shipit-engine/issues/749

[2017-11-06 14:57] #748 closed

[2017-11-21 11:22] #720 closed

[2017-12-06 20:25] pfhayes opened #752 "GitHub syncing stops abruptly"
Our instance of shipit abruptly stopped syncing statuses & commits with no configuration change after working fine for several months. Refreshing manually still works

Are there any logs we can inspect to begin troubleshooting this?

[2017-12-06 20:31] pfhayes commented on #752
Please disregard, this was an internal networking issue

[2017-12-06 20:31] #752 closed

[2017-12-13 14:37] jnraine commented on #496
We're experiencing pain from this as well.

@casperisfine, are you able to share the custom code Shopify uses to make this run externally? Even though it is non-trivial, it may help us resolve the problem on our end. Thanks!

[2017-12-13 15:41] casperisfine commented on #496
Sure:

`Procfile`:
[code]

`pubsubstub/puma_config.rb`:
[code]

`pubsubstub/config.ru`:
[code]

Most of the `pubsubstub/config.ru` is a bit shopify specific though. You basically only need:

[code]

Except the endpoint can end up public depending what your auth strategy is.

Additionally we have a nginx route to forward the SSE traffic to that separate process pool:

[code]

Hope this helps.

[2017-12-13 23:47] jnraine commented on #496
@casperisfine thank you! 💯

[2018-01-19 13:55] PabloVallejo opened #755 "Docker Support"
Hi Folks, is there any interest in adding docker support, for an easy setup?

If so, I'm very interested in creating a PR with it.

[2018-01-19 13:56] casperisfine commented on #755
What do you mean by Docker support? Publishing a docker image with Shipit setup inside?

[2018-01-19 14:23] PabloVallejo commented on #755
@casperisfine as a first step I was thinking of adding both a `Dockerfile` and a `docker-compose.yml` files to the project;

[2018-01-19 14:27] casperisfine commented on #755
That doesn't really answer my question.

Anyway, this repo is an engine, to setup Shipit you need to create a Rails app and mount the engine inside it. You can perfectly do all that from a 3rd party repo. If you end up with something that is easy to use for most people, then yeah we can talk about integrating it and make it the preferred way to deploy Shipit.

But I'd rather see something fully fu

[2018-01-19 14:55] PabloVallejo commented on #755
@casperisfine you're totally right, I'm going to play a bit more with Shipit and find something functional for me before discussing it;

Thanks!

[2018-01-19 14:55] #755 closed

[2018-03-16 18:08] tjoyal opened #766 "Merge queue revalidate_after send the uses back at the end of the queue"
Waiting 60min to be asked if you are still staring to your screen to be sent at the end of the line after those that just arrived is not making me very happy.

If that something fixable?

[2018-03-19 10:00] casperisfine commented on #766
[Pull requests are ordered by `merge_requested_at asc` to be merged](https://github.com/Shopify/shipit-engine/blob/ba0b88e19e45331565731035adc6a3c2f2f3ae7b/app/models/shipit/pull_request.rb#L50), and [when you revalidate `merge_requested_at` is not modified](https://github.com/Shopify/shipit-engine/blob/ba0b88e19e45331565731035adc6a3c2f2f3ae7b/app/models/shipit/pull_request.rb#L96-L98).

So the be

[2018-03-19 17:13] tjoyal commented on #766
Reading some of the code I have a theory:
- 10 in queue, 5 need revalidation
- deploy finish, 5 first are asked to be re-validated and the next 5 gets auto merged

This would give the impression the fist 5 lost their priority?

That would mean either:
- Works as expected
or
- UX need a way to ask for "revalidation" slightly before or at expiry and not when it try to merge it?

[2018-03-19 21:15] dylanahsmith commented on #766
It does look like MergePullRequestsJob would skip over jobs that need to be revalidated, so I think @tjoyal's theory is right.  However, I have also been seeing the list of pull requests in the merge queue have their enqueued duration get updated to a short time ago after revalidation, so there might be two problems.

Could the pull requests be briefly transitioning to the rejected state then the

[2018-03-20 15:09] BoGs commented on #766
Is anyone looking at this? If not I am happy to.

[2018-03-20 15:19] wvanbergen commented on #766
Nobody from shipping pipeline is looking at this currently. Feel free to see if you can find the issue and post your findings here.

[2018-03-20 17:13] casperisfine commented on #766
Actually the problem have been identified already https://github.com/Shopify/shipit/issues/323

However I'm not at my computer today, i was planning to fix this later this week

[2018-03-20 17:46] TheMallen opened #769 "[Lerna] parse lerna.json instead of making assumptions"
We should parse `lerna.json` to find the correct directories for packages rather than assuming it will always be `/packages`.

[2018-03-20 17:48] TheMallen opened #770 "[Lerna] Use ruby instead of a bash script for lerna package assertion"
It would be nice to be more consistent  with these scripts. Ruby is probably a better choice for consistency and maintenance.

https://github.com/Shopify/shipit-engine/blob/fix/override-skip-npm-setting/lib/snippets/assert-lerna-independent-version-tags#L5
https://github.com/Shopify/shipit-engine/blob/fix/override-skip-npm-setting/lib/snippets/assert-lerna-fixed-version-tag#L20

[2018-03-20 18:03] BoGs commented on #766
Thoughts on the following workflow (@tjoyal @casperisfine @dylanahsmith)
<assume nothing is locked>
1. I add my PR to the queue and 20 minute countdown starts
2. The deploy finishes so it starts working off the queue (deploys ~30 min) so lets assume its 30 min past
3. It sees the PR and passed 20 minute validation
  * it asks to revalidate but at the same time not ready to merge
  * skips you and

[2018-03-20 18:18] tjoyal commented on #766
Agree, asking 5min before expiration makes sense as a first step (I wonder if this should also be in shipit.yml).

Ideally it would be tied to the queue size and how much shipit can merge at the same time so you do not get notified unless you would be part of the next batch, but let's start with a flat few minutes for everyone?

[2018-03-20 19:00] dylanahsmith commented on #766
Yes, revalidating 5 minutes past expiration would work.

[2018-03-22 10:37] casperisfine commented on #766
So yes, the core of the problem is that we don't ask for revalidation until the PR could actually be merged.

The original reasoning was to not bother people with notifications because we can't know if the situation will be resolved in 2 minutes or 2 hours.

But the downside as you noticed is that if the queue is big enough, we trigger revalidation for expired requests, and then merge all PR that

[2018-03-22 11:50] #736 closed